[2017-04-02 14:26] tiagopog opened #1 "Thoughts behind the project"
Hi @tony612, could you share the ideias you had/have behind this other implementation of protobufs to Elixir?

I'm currently working in a fork to [simplify](https://github.com/tomas-abrahamsson/gpb/issues/104) the way Exprotobuf deals with `:gpb` under the hood and now I'm wondering which are your motivations for this new project.

Cheers!

[2017-04-02 16:54] tony612 commented on #1
There're some reasons:
1. One important feature of Google Protobuf is generating code between different languages using a common proto definition. I think the way gpb does this is totally wrong. That should be done by writing a `protoc` plugin as [here](https://developers.google.com/protocol-buffers/docs/reference/other). It's OK for simple cases. But it will be hard to use if you have lots of pro

[2017-04-02 16:54] #1 closed

[2017-04-03 02:03] tiagopog commented on #1
Gotcha! I think yours points make total sense :+1:

Thanks for the quick response, I'm looking forward to test it :-)

[2017-04-03 17:09] tony612 commented on #1
@tiagopog btw, I added these to the README just now.

[2017-04-03 17:39] tiagopog commented on #1
Good idea to add this ["Why this instead of gpb or exprotobuf?"](https://github.com/tony612/protobuf-elixir#why-this-instead-of-gpb-or-exprotobuf) section.

[2017-05-27 04:14] karlseguin opened #2 "Good work!"
Just wanted to say thanks. I was going to embark on something almost exactly like this after seeing how exprotobuf was implemented. Even without a `protoc` generator, I'll happily manually setup the DSL for the saner and much more efficient approach you're taking. Anxious for `oneof` to land :)

[2017-05-27 04:56] tony612 commented on #2
@karlseguin Glad to hear that! Please let me know if there's any problem for you. I'll try to fix ASAP 😬

[2017-05-27 04:56] #2 closed

[2017-08-02 19:42] aquarhead opened #3 "TravisCI + Ebert"
Setup all the automated checks

[2017-08-14 10:45] predrag-rakic opened #6 "How to get atom as value of enum field"
If I define message:
[code]

And later in the code
[code]
Is there a way to get `:PASS` or `:FAIL` out of `v`?

Thank you.

[2017-08-15 02:59] tony612 commented on #6
This is not supported now, only atom => number is supported. But I can add this feature later today.

[2017-08-20 16:40] tony612 commented on #6
It's supported now by `key/1` function like
[code]
Please use 0.3.3

[2017-08-20 16:40] #6 closed

[2017-08-21 12:11] predrag-rakic commented on #6
@tony612 thank you

[2017-08-22 15:23] meadoch1 commented on #2
Hi Tony.  I'm also very interested in using this instead of exprotobuf.  We do need oneofs though.  Do you have an estimate of when you expect them to be ready for use?

[2017-08-22 15:26] tony612 commented on #2
@meadoch1 I'm working on it now! I hope to finish it within these two days. Will ping you when it's done.😄

[2017-08-22 15:36] meadoch1 commented on #2
Wow, that's great news.  Thanks!  Since you're doing maps and oneof can I assume it's proto3 compatible otherwise too?

[2017-08-22 15:48] tony612 commented on #2
@meadoch1 Yes. But I think I'd better add more tests about compatibility :)

[2017-08-22 17:22] meadoch1 commented on #2
👍

[2017-08-28 16:07] arnaud-lb opened #7 "What's providing protoc-gen-elixir ?"
From the readme:

What project is providing protoc-gen-elixir ? Is it gRPC, this project, or an other independent project ?

[2017-08-28 16:35] tony612 commented on #7
The README gives the answer 😁(this project):
[code]

[2017-08-28 16:35] #7 closed

[2017-08-28 20:34] arnaud-lb commented on #7
Ho wow, thanks :) Somehow my mind refused to see that line :)

[2017-08-29 00:05] redink opened #8 "one question for encoder?"
https://github.com/tony612/protobuf-elixir/blob/5f8da613191501d560dce00087cb500f654a991a/lib/protobuf/encoder.ex#L54

For example, I need encode
[code]

just like :

[code]

But, after encode I got

[code]

and after decode it, I got

[code]

It's not the result I need.

[2017-08-29 06:44] tony612 commented on #8
fixed in 0.3.4

[2017-08-29 06:44] #8 closed

[2017-09-23 08:01] karlseguin opened #9 "protoc package name and path"
1. Is there a reason package names are underscored?
package Foo.Bar --> defmodule Foo_Bar, why?

2. Can it listen to --elixir_out and not append a proto sub-folder?

[2017-09-23 09:28] karlseguin opened #10 "proto3 with nil string should be valid"
Validation fails when assigning nil to a string, but, as far as I can tell, this should be vali.

[code]

This works fine in Go. Also, `encode` should return an error, not raise. There should be an `encode!` for raising.

[2017-09-23 10:18] tony612 commented on #9
1. Because I want to distinguish the package name and message name. If you have a name like `Foo.Bar.Baz`, how can you tell what's the package name?
2. I believe it's a behavior of protoc. If you have file `foo/bar.proto` and call `protoc --elixir_out=./ foo/bar.proto`, it will create a file `foo/bar.pb.ex`. But if you have file `foo/bar.proto` and call `protoc -I foo/ --elixir_out=./ foo/bar.prot

[2017-09-23 10:31] tony612 commented on #10
I don't think it works fine in Go. In Go(proto3), you can't assign nil to a string. But I'm OK with adding `encode!` to make this easier to use. I'll add this later. Thank you!

[2017-09-23 12:44] karlseguin commented on #10
Sorry, you're right. I'm not sure what I was thinking.

[2017-09-25 13:12] predrag-rakic commented on #9
Hi Tony,

I think dot in package directive should not be replaced with underscore for 2 reasons:
1. in other languages `package` directive generates module hierarchy. For example

[code]
is expanded to:
- in C++
[code]
- in Ruby:
[code]

2. I'm not aware of protobuff syntax construct one could use to generate message name containing dot. And if message name cannot contain dot than there is no ambi

[2017-09-25 13:36] tony612 commented on #9
@predrag-rakic
Other languages usually have packages(Go, Python) or modules(like Ruby) as namespaces. But Elixir don't have something like this. So it's a bit harder to handle this problem.

There're nested messages like
[code]
And the module name will be `Foo.Bar` for `bar` and `Foo.Bar.Baz` for `baz`. But the package name is `foo`.

In fact, I thought about this problem for a long time months ag

[2017-09-25 13:46] tony612 commented on #9
How about providing an option to support this feature? We can make the non-underscore as the default behavior(it fits Elixir style more) and support an option to change dots in package to underscore.

[2017-09-26 16:59] tony612 commented on #10
I thought about wether adding `encode!` to support returning status and raising error for a while. I prefer raising error when the message is invalid in `encode` directly. Because the validating is just do type checking, like that in static languages which is the basic thing. The users who use this function should think about ensuring their params are valid, otherwise error will be raised as the l

[2017-09-26 16:59] #10 closed

[2017-09-26 17:23] tony612 commented on #9
fixed by https://github.com/tony612/protobuf-elixir/commit/13cb6dec584f1fe7c0dbdb6df85c427f32832368

[2017-09-26 17:23] #9 closed

[2017-10-05 17:45] meadoch1 commented on #2
@tony612 how is the progress on oneof coming?

[2017-10-06 02:58] tony612 commented on #2
It’s finished on master branch but not in a version on hex.

On Fri, 6 Oct 2017 at 01:45 Chris Meadows <notifications@github.com> wrote:

[2017-10-06 13:59] meadoch1 commented on #2
That's good news.  I'll pull it and give it a try soon.  Thanks!

[2017-10-06 15:08] tony612 commented on #2
@meadoch1 OK. I can release a new version if you think there're no serious issues. It is worth mentioning that the usage for oneof is a little different:
[code]
In this example, `:first` is the oneof field, `:a` is the actual field and `42` is the actual value. This can be refered from the tests, like https://github.com/tony612/protobuf-elixir/blame/master/test/protobuf/protoc/integration_test.exs

[2017-10-06 17:04] meadoch1 commented on #2
I'll see what I can shake out of it, but it may be a couple of weeks before I get it vetted well.  I'll reply back here with results.

[2017-10-11 18:09] ssboisen opened #11 "Unable to handle recursive types"
Hi,

Excellent library!

I'm looking at writing a client for Google Cloud Bigtable but ran into problems when using new on one of the types generated by protobuf-elixir.

The problem occurs because of the type `RowFilter` includes a property of type `Condition` which again include properties of type `RowFilter`. See this [data.proto](https://github.com/googleapis/googleapis/blob/master/google/bigt

[2017-10-12 14:29] tony612 commented on #11
Thank you for reporting. I have never thought of this problem. I'll look into this :)

[2017-10-12 14:54] tony612 commented on #11
@ssboisen What's your protobuf-elixir version? This problem should be fixed in v0.4.1 before. And I added a test for the situation here https://github.com/tony612/protobuf-elixir/commit/2e674d5f502fd3bf3c8babd58069685366bdbca1, which I think can express your problem. btw, I noticed you there's oneof in `RowFilter` and I implemented that on master. If convenient, can you try that?

[2017-10-12 15:20] meadoch1 opened #13 "Feature request: Optionally populate sub-messages"
When a message has fields which are in turn messages it would be handy to optionally have `.new` create the sub-messages all the way through the hierarchy defined in the message structure.

[2017-10-12 15:38] tony612 commented on #13
But you may have this kind problem https://github.com/tony612/protobuf-elixir/issues/11

[2017-10-12 16:54] ssboisen commented on #11
Doh I were using `[{:protobuf, "~> 0.3.1"}]` which is from the README.md in this repo, I am able to create the message now, great!

[2017-10-12 16:54] #11 closed

[2017-10-12 18:39] meadoch1 commented on #13
Even if it only instantiated deterministic contents (e.g. oneof and map wouldn't be populated) that would be helpful; however, I understand if this is niche enough that it doesn't make sense for the library.

[2017-10-12 18:41] meadoch1 commented on #13
Also, the messages I've needed this for are  strictly structured like a tree with deterministic termination points, and not recursive.  I can see where recursive relationships would be a problem.

[2017-10-25 21:34] hayesgm opened #14 "Extensions"
Cool, thanks @tony612 for this project. I feel this is the right direction for protobufs in Elixir.

Quick question: do you have thoughts on how we'd build extensions? I want to add something akin to:

[code]

This would allow us to use services like grpc gateway. I would expect this to build a service object similar to:

[code]

Also, would it be possible to make the service definitions generic a

[2017-10-26 12:42] meadoch1 commented on #2
I've gotten a chance to work with the library some at this point, porting an app from exprotobuf to your library.  I found using protobuf-elixir to be good and love that it validates on encoding.  That solves several problems that we've been encountering.  The Oneof syntax is no more unwieldy than in exprotobuf and I think simply reflects that Oneofs are more complex than simply nested messages.

[2017-11-13 05:35] fortunewang opened #16 "Should a message of default values be removed after encode?"
For example, the proto is:
[code]

A `User` of id 0 is as if a non-specified one after encode:
[code]

I think sometimes a explicit `User` of id 0 is needed, [exprotobuf](https://hex.pm/packages/exprotobuf) does so:
[code]

[2017-11-13 13:51] tony612 commented on #16
It's not a bug. In proto3, you can tell wether a field is set to zero value or not set because there're default values for basic types(https://developers.google.com/protocol-buffers/docs/proto3#default). If you want to distinguish this, you can use proto2. btw, you should take an unofficial implementation(exprotobuf, gpb) as example. The official implementations(C++, Java, Go..) behave like what I

[2017-11-13 13:51] #16 closed

[2017-12-13 16:28] #3 closed

[2017-12-20 18:06] DavidMikeSimon opened #19 "Integration with mix"
I've been playing around with trying to make protobuf compilation happen during a project's `mix compile`, and it seems to be pretty feasible. Would this be an appropriate feature for this repo? Would you be up to review a PR to implement this?

[2017-12-21 14:59] tony612 commented on #19
I think not. One important feature of this library is compiling using protoc, which is the official and right way to do that.

[2017-12-21 14:59] #19 closed

[2017-12-21 16:10] DavidMikeSimon commented on #19
The idea would be that `mix` would call `protoc` for you.

[2017-12-21 16:24] tony612 commented on #19
@DavidMikeSimon Then the things will become more complex. We have to support all options protoc support. I can't see what's the benefit from implementing that.

[2017-12-21 16:48] DavidMikeSimon commented on #19
The benefits are:

* Not having to manually recompile your `.proto` files every time you change them
* Not having to commit `.pb.ex` files to your repo. These files are not true source code, but purely derivable artifacts of the build system.

For protoc options, we wouldn't have to specifically support everything it does. We can just provide a `protoc_arguments` option which accepts a list of str

[2017-12-21 23:21] amatalai commented on #19
`.pb.ex` files were one of main reasons why I replaced exprotobuf with this lib as soon as it was possible... magic modules/structs from nowhere are terrible

[2017-12-24 03:54] cjab opened #21 "Protobuf module conflicts with exprotobuf"
The top level module name `Protobuf` is also the top level module for exproto (https://github.com/bitwalker/exprotobuf/blob/master/lib/exprotobuf.ex). This makes it difficult to use protobuf-elixir in projects that also have a secondary dependency on exproto. I know it's a lot to ask to rename it but I wanted to bring it up here. It's likely that others have or will run into this also.

In my case

[2017-12-24 06:43] amatalai commented on #21
I had similar problem, but based on how libs are named on hex and how `.ex` files are named, the problem is that exprotobuf is using wrong namespace for modules.

[2017-12-24 09:53] tony612 commented on #21
It's hard to solve this problem for the moment because Erlang/Elixir doesn't support the features like importing modules. I found a similar issue https://github.com/elixir-lang/elixir/issues/5232

[2018-01-20 20:08] uberbrodt commented on #9
@tony612  Sorry to comment on a closed issue, but did you end up providing some sort of option to keep the previous behaviour? I would also be interested in adding a package prefix. Eg. for the `Foo.Bar` message, I would like it to generate  `Protobuf.Foo.Bar`. Or even being able to specify it in the message, the way you can with Java https://developers.google.com/protocol-buffers/docs/reference/j

[2018-01-22 04:48] tony612 commented on #9
@uberbrodt I don't have plan to add option to support underscore because I think we'd better follow one convention. And I do have the plan to support prefix or custom package names.

[2018-01-28 15:00] #13 closed

[2018-01-28 15:02] tony612 commented on #14
I'm happy with this feature and PR for it :)

[2018-02-05 13:45] uberbrodt commented on #9
@tony612 Yeah, I can see your point. It's a bit of hassle when upgrading because all references and/or aliases need to be fixed in calling code. Might be worth making a note in the README.

[2018-02-11 16:25] zentetsukenz opened #24 "Support Google Protobuf Timestamp type"
First of all, I must thank you for this great GRPC lib for Elixir. The features are almost there.

However, one of well known type is still missing, Timestamp. I'd already implement the `Google.Protobuf.Timestamp` type and would like to contribute back but not sure where I should put this chunk of code into.

[code]

This implement Timestamp type according to Google Protobuf Timestamp type message

[2018-02-13 13:44] tony612 commented on #24
Thank you. But I prefer not. This lib is the implementation of protobuf, I don't think adding Google's proto definitions in this lib is a good idea.

[2018-02-13 14:53] tony612 commented on #24
By looking into other official implementations(https://developers.google.com/protocol-buffers/docs/reference/overview), I think it's ok to include it in this lib. Could you place the proto file and generated file in `lib/google/protobuf`?

[2018-02-13 14:56] #21 closed

[2018-02-13 16:24] tony612 commented on #14
As I said in https://github.com/tony612/protobuf-elixir/pull/15#issuecomment-365290883. I want to give some ideas:

First of all, I want to give a summary about extensions and options in Protobuf:

1. Only protobuf2 supports extensions, protobuf3 only supports using extension for defining options.
2. Protobuf supports options in different levels(file, message, field, ...).
3. Developers can use ex

[2018-02-13 18:17] zentetsukenz commented on #24
@tony612 Sure! I will do open a PR for this. However, I'm still unsure that I understand your solution. This is what I'm currently understand. Create a new file in `lib/google/protobuf/`. Named it `timeout.pb.ex` and put the code snippet above into this file.

I'm not sure about this because I saw that there are many google file descriptor definition in `lib/protobuf/protoc/descriptor.pb.ex`. So,

[2018-02-13 19:03] hayesgm commented on #14
As per `1`: sorry that a lot has been pushed into this PR-- I've been using it for several projects in production.

As per `2`, happy to discuss alternative implementations. Holistically, the issue was that we needed to parse everything once to define extensions and messages, and then parse everything in a second pass to allow extensions. This works well (minus the redefining of modules) and doesn

[2018-02-14 06:08] tony612 commented on #24
@zentetsukenz Yes. And I've moved `descriptor.pb.ex` and `plugin.pb.ex` to `lib/google/protobuf`

[2018-02-14 17:46] zentetsukenz commented on #24
@tony612 PR https://github.com/tony612/protobuf-elixir/pull/25 opened, please have a look when you have time. Thank you for your consideration.

[2018-02-21 15:04] qinix commented on #14
+1 for this. Looking forward to being merged!

[2018-02-21 15:11] qinix opened #26 "Feature request: option for different package name (module name) in elixir"
Like this:

[code]

[2018-02-22 04:39] tony612 commented on #26
One problem is Elixir has no concept of package. So what should we do with the package option? One solution is treat them as module prefix. But if so, maybe `elixir_module_prefix` is a better name.

[2018-02-22 18:41] mathsaey opened #27 "Error when parsing packages without an explicit package name"
The following `proto` file, fails to compile for me:

[code]

It returns the following error:

[code]

Adding `package test;` to the proto file fixes the problem.
However, since the `--ccp_out` generator seems to accept the original proto file, I don't think this behaviour is intended.

I don't have a lot of experience with protocol buffers, so forgive me if I'm doing something incredibly wrong he

[2018-02-23 05:04] #27 closed

[2018-02-23 05:04] #24 closed

[2018-02-25 17:56] fschuindt commented on #26
I was searching for those options when I found this issue.

@tony612 I think `elixir_module_prefix` is great. It should also allow the basic nesting, something like:

[code]

[2018-02-28 01:55] tony612 commented on #26
@fschuindt It's similar, but `package` is for all languages. btw, I thought about this again and `elixir_package` maybe a good choice. I'll support this option later.

[2018-03-03 12:47] obmarg opened #29 "Error when parsing services without an explicit package name."
Similar to #27 - I'm getting a crash when I try to compile the following proto file:

[code]

If I add `package elm_render;` it works fine.

[2018-03-04 13:27] tony612 commented on #29
Try updating to the latest version?
On Sat, 3 Mar 2018 at 20:47 Graeme Coupar <notifications@github.com> wrote:

[2018-03-04 13:38] obmarg commented on #29
@tony612 I'm seeing this with 0.5.3, which I believe is the latest version?

[2018-03-04 13:46] tony612 commented on #29
I see. I’ll look into this later.

[2018-03-04 15:01] #29 closed

[2018-03-04 15:02] tony612 commented on #29
@obmarg Could you verify if this problem has been fixed on master?

[2018-03-05 21:27] obmarg commented on #29
@tony612 are there any instructions for running from a non-release?  I only know how to run w/ an escript installed from hex.

[2018-03-06 02:18] tony612 commented on #29
@obmarg `mix escript.install github tony612/protobuf-elixir`. You can view doc via `mix help escript.install`

[2018-03-06 02:18] tony612 commented on #29
If it works, I can release a new version.

[2018-03-06 13:13] obmarg commented on #29
@tony612 thanks - I'll try and test that tonight when I get home

[2018-03-06 20:34] obmarg commented on #29
@tony612 looks like your fix worked.  thanks a lot!

[2018-04-11 11:05] seivan opened #31 "Installing the proto plugin"
Is it supposed to be
`mix escript.install hex protobuf` or `mix archive.install hex protobuf`
Because `Phoenix` uses the latter.

[2018-04-11 14:56] seivan commented on #31
Thanks.

[2018-04-11 14:56] #31 closed

[2018-04-30 15:52] amatalai opened #32 "Nested messages typespecs should include nil as possible value"
Sometimes when you do `b.a || true` in your code (where b and a are nested messages) dialyzer returns following warning:
`Guard test _@3::#{'__struct__':='Elixir.Example.A', 'text':=binary()} =:= 'false' can never succeed`

Repo to reproduce issue https://github.com/amatalai/protobuf_nil_example

[2018-05-01 08:55] #32 closed

[2018-05-31 06:22] karlseguin opened #34 "Feature Request: Performance"
Hello.

Was wondering if there's any interest in making changes to improve performance? I just started looking at this and am taking it step by step. I'm looking at encoding first, and a simple benchmark compared to `Jason`, for one of our objects (nothing too special about it), doesn't look great:

[code]

If we remove the call to `Protobuf.Validator.validate!(struct)` in `Encoder.encode` (which

[2018-06-03 05:31] tony612 commented on #26
@bamorim There's a problem with option in cli: if you refer to a message in another package, it's hard to know its prefix like:
[code]

If you generate `other/message.proto` using custom prefix, then you can't get right name of `Stringmessage` when you generate `msg.proto`.

So we'd better support custom option like `elixir_module_prefix`, which I'm working on.

[2018-06-03 17:08] tony612 commented on #26
I implemented custom option `elixir_module_prefix`. But it's a little inconvenient to use because there's no official support. Usage is:
[code]
For the `protoc` command, `-I` option should be be your local path to https://github.com/tony612/protobuf-elixir/tree/master/src or a path containing file `elixir.proto`, whose name isn't important. It's very simple so you can just create your own(https://

[2018-06-04 16:33] tony612 commented on #34
I'm trying to do some optimizing instead of supporting taking validations away. After all, data validity is very important.

[2018-06-06 11:18] karlseguin commented on #34
I agree. I started looking at generating an encoder. If you take `Encoder.encode/3`, it's doing a lot of things at runtime that can be pushed to compile team. The downside is a larger beam file.

This is what I have so far. For now, I only support proto3 since that's all we need:
https://github.com/2nd/protobuf-elixir/blob/feature/generate_encoder/lib/protobuf/generator.ex

Just want to add more b

[2018-06-06 15:08] tony612 commented on #34
The result seems good, but I doubt if it has the same performance for most situation. Like what if  most fields in the struct are not literal values, like
[code]

But one thing you inspire me is maybe we can encode the fields with default values in compiling time because we often have some empty fields.

I prefer treating the macro solution as the last one we can use. Before that, I'll look into o

[2018-06-07 02:43] karlseguin commented on #34
I don't understand..it doesn't matter if the values are literals or not. The macro code expands to something like:

[code]

11 and 18 just being the precomputed tag+type encoding. This precomputation is one example of things that don't need to happen on each call to `encode/1`. Given a proto of:

[code]
The `encode_fnum/2` for these is _always_ the same (11 and 18) so why do it over and over again

[2018-06-07 04:56] tony612 commented on #34
@karlseguin Yes, you're right. It works for `encode_fnum/2`. I thought the macro will try to handle all literal values when I saw `encode_field`.

[2018-06-07 05:13] karlseguin commented on #34
The performance comes from more than `encode_fnum/2`  These map lookups, in the main `encode/3`, are eliminated:

[code]

Validation and the call to `empty_val?/1` (which does 5 comparisons per value) are merged, more accurate and faster, by becoming something like:

[code]

the `empty_val?/1` becomes more specialized: there's no need to compare each value to `!v || v == 0 || v == "" || v == [] ||

[2018-06-12 16:49] tony612 commented on #34
I move the validations to encoding, which improve the encoding performance by about half:
[code]

The code is on master already.

[2018-06-21 17:09] tony612 commented on #34
The latest benchmark result is
[code]

@karlseguin Could you verify the performance on your benchmarks?

[2018-06-24 12:55] karlseguin commented on #34
Yes. I see a similar change. From the initially reported 29µs/op to 19. Nice work!

[2018-06-24 12:55] #34 closed

[2018-06-25 17:16] tony612 commented on #34
btw, decoding is faster too:
[code]

[2018-07-24 09:55] clearjs commented on #14
@hayesgm I also need to use `annotations.proto` in my project. So I tried to use your fork, but right now I'm getting an empty `annotations.pb.ex` file as output. I'm sure I did something wrong. I forked [tony612/google-protos](https://github.com/tony612/google-protos) as a starting point, then updated `mix.exs` to use your fork instead of [tony612/protobuf-elixir](https://github.com/tony612/proto

[2018-08-01 05:34] hayesgm commented on #14
@tony612 Any thoughts on how we should handle addressing/merging this? For my usage, it's been pretty helpful. I wouldn't mind this ending up as a permanent fork (by a different name?) or looking for a way to merge. What do you think is best?

[2018-08-10 09:58] Xiaobin0860 opened #38 "DecodeError on windows"
[code]
[code]

[code]

[2018-08-14 13:20] amatalai opened #39 "Oneof value is lost when set to type default value"
**Protobuf:**
[code]

**Example of invalid behavior:**
[code]

**Additional information:**
Issue was not present prior 4a2d61f050f322cfcbf1243f5d76e57085d56b49

[2018-08-26 20:40] amatalai commented on #34
@tony612 hi, I noticed that after optimization, proto3 allows `nil` to be encoded as basic types (string, int32 etc) when previously it was raising errors from validator.

[code]

Is it intentional or bug?

[2018-09-06 16:03] hassox commented on #14
@tony612 was about to start a pr to implement this also. Having options/extensions  available in generated code is very useful for lots of different projects that I work on. We've been able to use these in the golang proto package to help us write libs but once I got to elixir I've had to pause until I can get access to the options.

 @hayesgm wrt the code snippet at the start of this issue, would

[2018-09-25 14:11] #39 closed

[2018-12-04 14:39] Saber2016 opened #42 "protoc --elixir_out=./lib helloworld.proto"
可以介绍一下在Windows系统上怎么安装这个吗？我尝试用macOS的教程，运行到：
proto>protoc --elixir_out=./lib helloeworld.proto 时候总是提示我：--elixir_out: protoc-gen-elixir: 系统找不到指定的文件。但实际上在上一步我是生成了这个文件的。

Failed to fetch record for 'hexpm/protobuf' from registry (using cache)
:timeout
Resolving Hex dependencies...
Dependency resolution completed:
New:
[32m  protobuf 0.5.4[0m
* Getting protobuf (Hex package)
Request failed (:timeout)

[2018-12-07 22:21] tony612 commented on #42
I think you have to put `protoc-gen-elixir` in your PATH.

[2019-01-17 12:20] haljin opened #44 "Cannot encode enum fields with atoms as values"
Given such proto file:

[code]

then I cannot do:
[code]

but have to instead:
[code]

I think it would be much more convenient to just use atom values directly as field values for messages containing enums. I'd be more than willing to make a PR that does that if you'd just point me in the right direction. :)

[2019-01-29 07:01] #42 closed

[2019-02-02 03:32] tony612 commented on #38
It seems not a bug in protobuf-elixir. The error shows what Elixir gets is wrong.

[2019-02-02 03:32] #38 closed

[2019-02-10 09:08] ammmir commented on #26
@tony612 will you be releasing a new hex package with this feature? thanks!

[2019-02-28 17:20] fabioMarocchi opened #47 "Obtain valid values and keys for enum"
Assuming I have the following .proto file
[code]
Is there a way to obtain all the valid enum values/keys?

I know that I can switch between atom and integer with `Bar.value(:a)` and `Bar.key(0)`, but I couldn't find a way to obtain something like `Bar.keys()` to obtain `[:a, :b]`, `Bar.values()` to obtain `[0, 1]` or `Bar.map()` to obtain `%{a: 0, b: 1}`

My apologies if there's already a function

[2019-03-05 09:18] mwillema opened #48 "[question] Generate proto files automatically"
Is there an easy way to generate the proto files automatically when calling `mix compile` or something? So I don't have to manually run the `protoc` command manually.

[2019-03-05 09:30] mwillema opened #49 "[question] Generate proto files according to package"
Is there a way to generate the proto files into a directory structure matching the proto package ?

For instance I have a proto definition placed in `priv/proto` such as:
[code]

When I compile the messages using `protoc --elixir_out=./lib priv/proto/*.proto` I'd like the files to be generated in `lib/company/my_message`.

[2019-04-07 13:21] dev800 opened #51 "some variables unused warning (v0.6.1)"
==> protobuf
Compiling 20 files (.ex)
warning: variable "name_atom" is unused (if the variable is not meant to be used, prefix it with an underscore)
  lib/protobuf/dsl.ex:55

warning: variable "msg_props" is unused (if the variable is not meant to be used, prefix it with an underscore)
  lib/protobuf/dsl.ex:297

warning: variable "type" is unused (if the variable is not meant to be used, prefix i

[2019-04-08 03:02] #51 closed

[2019-05-08 09:30] fabioMarocchi commented on #47
This functionality was added in 8c86518ea630fa5888797747767bc08d4bd93451 so I'm marking this issue as closed.

[2019-05-08 09:30] #47 closed

[2019-05-10 20:29] jmitchell commented on #48
A built-in solution would be nice.

Meanwhile you may appreciate [this approach](https://gist.github.com/jmitchell/847543a8b366e07408f0a16bfde68f99). The `protobuf.regenerate` task calls a nix-shell/bash script which

1. installs necessary dependencies (possibly cached) in a temporary shell
2. downloads the protobuf schema from the specified (or default) URL
3. regenerates Elixir modules from the

[2019-05-17 06:53] tony612 commented on #49
You can add argument `-I priv/proto`

[2019-05-17 06:53] #49 closed

[2019-05-17 07:02] tony612 commented on #48
I think you can use this https://github.com/elixir-lang/elixir_make.

[2019-05-17 07:02] #48 closed

[2019-05-23 21:41] leishman opened #56 "Decoder fails when some fields are empty"
Great library! Thanks. I have a question though.

We are experiencing errors like the following when trying to decode messages that do not include all of the fields in a given protobuf (proto3). It is my understanding that proto3 should default to various "nully" values depending on the type of the attribute.

[code]

For example the following protobuf fails to decode incoming messages that do not

[2019-05-24 05:57] leishman commented on #56
I'm going to close this issue for now while we do some more digging. I may be off on the root cause.

[2019-05-24 05:57] #56 closed

[2019-05-24 08:02] tony612 commented on #56
What's the definition of Error?

[2019-05-24 16:11] leishman commented on #56
[code]

And `ErrorCode` is an enum:
[code]

[2019-05-27 13:32] Sgiath opened #57 "gRPC rpc call should be snake_case in Elixir"
First of all, thanks for your work! It is amazing.

I have one issue though:
According to Protocol Buffers style guide https://developers.google.com/protocol-buffers/docs/style#services `rpc` calls in `Service` section should CamelCased:
`rpc SayHello(HelloRequest) returns (HelloResponse);`
which is then translated to following Elixir code:
`rpc :SayHello, HelloRequest, HelloResponse`
and we can u

[2019-05-29 06:45] tony612 commented on #57
You need to define `say_hello` in your servers. The name in `rpc` macro is just kept same with that in proto.

[2019-05-29 10:15] Sgiath commented on #57
Oh so I can define function `say_hello` even though I have in my service `rpc :SayHello, SayHelloRequest, SayHelloResponse` and it will link them correctly?

[2019-05-29 14:50] tony612 commented on #57
@Sgiath Yes. You are right.

[2019-06-12 18:38] Sgiath commented on #57
OK, I didn't know that.

Closing the issue

[2019-06-12 18:38] #57 closed

[2019-06-20 20:21] nathanl commented on #7
I had the same question.

The command doesn't say `escript.install hex protoc-gen-elixir`, so I thought it was a prerequisite for the command.

[2019-06-21 17:22] uberbrodt opened #59 "No longer can decode protobuf encoded with version 0.5.0"
Upgraded from 0.5.4 and receive the following errors when decoding a previously encoded protobuf.

[code]

I can send you the protocol buffer file if you need it.

[2019-07-05 02:18] tony612 commented on #59
What version are you using? Please try using latest master branch and recompiling your generated protobuf Elixir code(generated using protoc). If it still doesn't work. You can send me your pb file.

[2019-07-16 03:06] uberbrodt commented on #59
Sorry for the late update. Still seeing the issue when testing with master. I'll email the pb file to you shortly.

[2019-07-16 14:30] uberbrodt commented on #59
emailed to the address in your github profile. let me know if you run into any issues.

[2019-07-23 18:09] llxff opened #60 "float and NaN/Infinity values"
Hello,

I found that it is not possible to work with NaN, Infinity, -Infinity values for float. Erlang doesn't have such values but they can be encoded in Protobuf messages. Currently, decoding of messages with such values fails with MatchError exception. Do you have some plans to support them?

[2019-07-25 12:29] mehdi514 opened #61 "protoc --elixir_out=./lib helloworld.proto"
![Capture](https://user-images.githubusercontent.com/38223998/61874425-6a003900-aef9-11e9-9b77-e37b0beab40b.PNG)

[2019-07-27 12:01] tony612 commented on #61
Where is your `helloworld.proto`? You need to specify a path to your proto files.

[2019-07-29 02:57] tony612 commented on #60
@llxff I can support them, but we should figure out what to use for `nan`, `infinity` and `-infinity`. I thought about atom before, but it's still not very good.

[2019-07-29 03:16] tony612 commented on #60
I guess it's OK to decode it as atom like `:infinity` now so you won't get exceptions. But you still need to handle float carefully by yourself. Is this OK for you?

[2019-07-29 06:23] llxff commented on #60
I thought the same, at least it is better than exception 🙂

[2019-07-29 13:22] tony612 commented on #60
Could you try this PR? https://github.com/tony612/protobuf-elixir/pull/62

[2019-07-29 13:35] llxff commented on #60
Works for me, checked `double` and `float` 👍

[2019-07-30 03:18] #60 closed

[2019-07-30 03:20] tony612 commented on #60
I merged that PR. You can use the master for the moment. I'll release a new version on hex later.

[2019-07-30 08:00] llxff commented on #60
Great, thank you very much!

[2019-08-05 11:42] mehdi514 commented on #61
![Screenshot (225)](https://user-images.githubusercontent.com/38223998/62461965-3d6cdc80-b797-11e9-98cd-1248641d382d.png)
helloworld.proto is specified and still its showing the error!
Can you please help me? I'm new on it and if I'm doing wrong then help me the correct way to learn it.

[2019-08-06 12:50] mzabka commented on #14
@tony612 Do you have any updates on support for options in protobuf-elixir?

[2019-08-06 15:19] joelmarty opened #64 "Feature Request: support google.rpc.Status.Details"
The gRPC error model has the ability to embed any kind of message in the status of a RPC (see [this doc](https://cloud.google.com/apis/design/errors#error_model)).

It is a feature that would be quite useful to convey error details since custom status codes are not documented in .proto files.

[2019-08-14 08:20] Chervychnyk opened #65 "Error on Google.Protobuf.Struct.encode"
I am receiving error when try to encode Google.Protobuf.Struct.
Example of executed code:
`Google.Protobuf.Struct.encode(Google.Protobuf.Struct.new(fields: %{"valid" => {:bool_value, true}}))`
Stacktrace:
`** (Protobuf.EncodeError) Got error when encoding Google.Protobuf.Struct#fields: %Protobuf.EncodeError{message: "Got error when encoding Google.Protobuf.Struct.FieldsEntry#value: %Protocol.Undef

[2019-08-19 20:20] isaacsanders commented on #19
Checking in on if you've changed your mind @tony612

I would seriously consider using the Mix compiler behaviour. If you use it right, users get a lot of benefits.

https://hexdocs.pm/mix/Mix.Task.Compiler.html

Just check it out.

[2019-08-22 18:58] isaacsanders opened #66 "Many versions are not published to hex."

[2019-08-22 18:59] #66 closed

[2019-09-04 15:51] NAR opened #67 "Value that is too big for an uint32 is successfully encoded and decoded"
I have this protocol buffer definition:
[code]
When I create a value that's too big for a 32 bit unsigned integer, encoding and decoding surprisingly works:
[code]
If I use a different library to decode the result, I get a shorter value:
[code]
I think the `3944680146` value looks better, definitely fits into a 32 bit unsigned integer.

[2019-09-25 02:51] tony612 commented on #67
@NAR I sent a PR to validate the range. How do you think about it? Another way is still accepting the bigger/smaller values and returning wrong but valid values. I like raising errors in this case because some bugs can be avoided.

[2019-09-25 09:33] #61 closed

[2019-09-25 13:58] NAR commented on #67
I tried it and get a `FunctionClauseError`, so it looks OK. Decode also doesn't return too big value. The PR also looks good.

[2019-09-26 02:04] #67 closed

[2019-09-26 02:04] tony612 commented on #67
Changed the error a little and merged. Thank you!

[2019-10-09 10:47] tony612 commented on #65
The issue you had has been fixed. And the code should be
[code]
See this test https://github.com/tony612/protobuf-elixir/blob/3a35fdd62d99a97d0e2fea261e4a78a2775f1122/test/protobuf/encoder_test.exs#L165

[2019-10-09 10:47] #65 closed

[2019-10-09 10:55] tony612 commented on #64
google's protos are just normal protobuf. You can directly use them after generating the code.
[code]

[2019-10-09 10:55] #64 closed

[2019-10-30 03:07] ealmz opened #69 "Error trying to find proto file"
I have my proto file in on the top level of my directory. When I run this: `protoc --elixir_out=./lib rpc.proto`, I get the following error:
[code]

I've tried many variations of appending to my path without luck. The latest one is: `export PATH=/Users/emmyalmaraz/.mix/escripts/bin:$PATH`

[2019-10-30 08:54] whatyouhide commented on #69
@ealmz how did you install protobuf-elixir?

[2019-10-30 15:35] whatyouhide commented on #69
@ealmz once you do that, do you have `~/.mix/escripts/protoc-gen-elxiir` available? The `bin` part shouldn't be there.

[2019-10-30 15:49] whatyouhide commented on #69
You should have `~/.asdf/shims` in the path, then make sure that you install `mix escript.install hex protobuf` in the current version you're using and then call `asdf reshim`.

[2019-10-30 17:17] #69 closed

[2019-11-18 09:51] haljin opened #71 "Function clause exception when decoding garbage binaries"
Hi,

When I try to decode an obviously wrong binary as a protobuf struct I get a function clause exception, e.g.:

[code]

The thing is, I'd like to be able to distinguish these errors from other function clause exceptions that might happen in the same process. Currently the only way is to wrap the decode like this:

[code]

Could the auto-generated decode function not do this? I'm willing to make

[2019-11-25 07:15] tony612 opened #74 "Compiling failures with enum"
[code]

It seems this is caused by [this PR](https://github.com/tony612/protobuf-elixir/pull/70). I guess the reason is `Content.Foo` is defined at another file, and with this PR's change, `Content.Foo` is not compiled when compiling `Content.Bar`.

[2019-11-25 07:53] whatyouhide commented on #74
@tony612 can you try a quick patch, which is calling `Code.ensure_loaded(type)` before calling `type.key(1)` in the changes made in my PR?

[2019-11-25 10:39] tony612 commented on #74
@whatyouhide I tried, but only using `ensure_loaded` doesn't work. I think it's because we have a file like this
[code]
And Elixir can't compile a file like this, we have to write a file like
[code]

I tried adjuting the ordering of the generated code in this branch https://github.com/tony612/protobuf-elixir/compare/fix-gen-order?expand=1

This branch just put enum in the first in generated files,

[2019-11-25 15:26] whatyouhide commented on #74
@tony612 looks good to me :)

[2019-12-05 18:25] keathley opened #76 "Raise exceptions if incorrect types are passed into `new`"
Currently, no checks are done when passing attributes to `new/2`. This means that it's possible to pass incorrect types or sub-messages while constructing a new struct. In most cases these errors won't be caught until the message is decoded since the encoder doesn't perform validations while it's encoding. To make this more concrete let's say that we have these definitions:

[code]

It's currently

[2019-12-05 23:53] whatyouhide commented on #76
This is how most things in Elixir work, so I strongly suggest that this is an acceptable tradeoff :)

@keathley we also don't check the field names in `new/1`, FWIW 😄

[2019-12-12 10:15] bryanhuntesl opened #78 "Merging cowboy/cowlib changes upstream ?"
Are there any plans to merge the cowboy/cowlib forks upstream? I'm thinking the forks might miss out on security fixes/new functionality over time.

[2019-12-12 15:30] mergefailure opened #79 "gen_descriptors and grpc seem to be mutually exclusive"
Hi, forgive my ignorance of GRPC as I'm relatively new to the libraries but I've noticed what is perhaps a bug - `gen_descriptors=true` and `plugins=grpc` seem to be mutually exclusive.

What I mean is that if I specify `gen_descriptors=true` - the generated modules file doesn't contain any service or stub definitions.

[2019-12-12 15:42] whatyouhide commented on #78
I'm confused, where is cowboy/cowlib used in protobuf-elixir? 😕

[2019-12-12 15:54] bryanhuntesl commented on #78
Apologies - I had two windows and 50 tabs open - I should have posted that question on elixir-grpc/grpc repository - I'll close and re-ask there.

[2019-12-12 15:54] #78 closed

[2019-12-19 08:06] #74 closed

[2019-12-19 08:30] tony612 commented on #79
What's your protoc-gen-elixir version? I tried this, it works for me. This is my command
[code]
I used protoc-gen-elixir from github
[code]

[2019-12-19 08:37] tony612 commented on #71
I think we can add error handling in `Protobuf.Decoder.decode` and reraise the error using Protobuf.DecodeError. Please send a PR if you want to.

[2019-12-19 08:58] tony612 commented on #59
Looks like, the binary has a problem in the end. A value is missing when in the end.

[2019-12-19 13:24] haljin commented on #76
I always wondered why aren't the defaults filled out when you just make the raw struct? You could feed default values to `defstruct` based off protobuf types?

[2019-12-25 06:04] #71 closed

[2019-12-25 06:05] #76 closed

[2019-12-26 21:40] uberbrodt commented on #59
Interesting. The only thing that's changed is the protobuf dependency. Not sure how that would change the binary

[2020-01-04 07:03] tiotolstoy opened #82 "Proto file has this line: import "google/api/annotations.proto", how to import?"
This is my error when I run `protoc --elixir_out=./lib */*.proto`
```lib/rpc.proto:3:1: Import "google/api/annotations.proto" was not found or had errors.```

[2020-01-04 07:27] #82 closed

[2020-01-08 18:12] mackeyja92 commented on #74
I am having issues with this on `0.7.1`.

I am having an issue with enums defined in the same file are being generated at the bottom of the file. My work around is to move them to the top of the file but that has to be done every time we regenerate them.

@whatyouhide @tony612

[2020-01-09 02:46] tony612 commented on #74
@mackeyja92 Could you regenerate the code after upgrading protoc plugin?
[code]

[2020-01-09 03:15] mackeyja92 commented on #74
@tony612 Yes. That solved it for me. Thank you!

[2020-01-09 06:55] tony612 commented on #26
Closing this. Please notice that the usage is different from before since extension is implemented in https://github.com/tony612/protobuf-elixir/pull/83. See README and `src/elixirpb.proto` for details.

[2020-01-09 06:55] #26 closed

[2020-01-09 06:58] tony612 commented on #14
Since extension is implemented in https://github.com/tony612/protobuf-elixir/pull/83 I think we can move forward to think about this again.

[2020-01-16 23:57] c-h- opened #84 "v0.7.1 erroneously enforces source code ordering of modules"
Just upgraded from 0.6.3 to 0.7.1.

On 0.6.3, I could have generated Elixir protobuf files like this:
[code]

Compiling the app with 0.7.1 gives errors like these when compiling the above generated protobuf files:
[code]

Going back to 0.6.3 fixes the issue, as does re-ordering the source code like so:
[code]

Given this code is generated, re-ordering it should not be necessary.

On glancing at th

[2020-01-17 03:36] tony612 commented on #84
Please use latest protoc plugin by `mix escript.install hex protobuf` and regenerate the code. Ordering of modules in one file does matter!

[2020-01-17 03:36] #84 closed

[2020-03-18 03:56] jahell opened #86 "Feature Request: Encode to / decode from JSON"
In proto3 google added an official JSON mapping (https://developers.google.com/protocol-buffers/docs/proto3#json). Is there any plan to support encoding to and decoding from JSON?

[2020-03-23 12:27] skwerlman opened #88 "Multiple conflicting PbExtension modules"
protobuf-elixir: 0.8.0-beta.1
elixir: 1.10.1
otp: 22.2.7

I am trying to compile [these .proto files](https://github.com/Cockatrice/Cockatrice/tree/master/common/pb) using version 0.8.0-beta.1, and in most of the resulting 155 elixir files I get a PbExtension module. Elixir can obviously only handle one module with a given name, so this fails to compile.

[2020-03-26 02:52] tony612 commented on #88
This is because there's no package for different extend. Let me try to fix it. Thanks for reporting.

[2020-03-26 13:22] ulissesalmeida opened #89 "Elixir terms converter extensions"
Hi 👋

I would like to know if the maintainers are interested in a feature like this.

Let's say I have this message:

[code]

Then, when I working I'm my app, I've always to convert to an Elixir term.

[code]

I was wondering, wouldn't it be nice to have a way to tell the encoder/decoder how they work with some messages. Then, I could write in my app:

[code]

I really would like to help to add th

[2020-03-26 13:33] ulissesalmeida opened #90 "Support for Value Wrappers"
In protobuf messages when we have enum or scalar types they can't be nil. To make it `nil`, a way of doing it is to wrap in a message.  This  pattern is very common, we can see for example in google protobufs wrappers:

https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.proto

And it makes writing code like:

[code]

Later in Elixir, we'll have to access like:

[c

[2020-03-26 15:02] ulissesalmeida commented on #89
The other idea for API is would be using protocols.
Something like:

[code]

Then in my app, I implement protocols like:

[code]

[2020-03-26 17:01] whatyouhide commented on #90
@ulissesalmeida we have this pattern in our codebase as well and we defined wrapper functions for this, such as `Protobuf.wrap("foo") == %StringValue{value: "foo"}` and `Protobuf.wrap(nil) == nil`. I’m not sure how that would be abstracted by the library. How do you recognize this pattern from the Elixir perspective?

[2020-03-26 18:16] ulissesalmeida commented on #90
I can imagine some solution by using some instrospection/reflection based on the protobuf metadata.

For example, during the decodification of the binary message we could have something like:

[code]

In the encode part, we can have a wrap function, something like:

[code]

I'm assuming we have all metadata info during encoding/decoding

What do you think? Is it achieavable?

[2020-03-26 21:42] darrenclark commented on #89
I like the protocols approach.  #90  would be possible with this approach too

Then https://github.com/tony612/google-protos could be updated to handle the conversions to/from [Well-Known types](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf)  (includes the wrapper types)

[2020-03-27 11:10] ulissesalmeida commented on #89
@darrenclark I agree with you that it's possible to achieve the ValueWrappers feature by using these protocols.

The downside is the work and the task to remember to implement the protocol.

In our application, we have dozens of enum and wrappers, whenever a developer adds a new enum they would have to remember to implement the protocol. It is not that bad, but it would be very convenient to have

[2020-03-29 08:57] whatyouhide commented on #90
I think this would be brittle since folks might not only use Google's wrappers and might want a similar behaviour in other situations too. I think this could be achieved with a plugin where you mark the type as a wrapper right in the `.proto` definition, but not sure that that would be a clean solution either.

[2020-03-31 13:52] ulissesalmeida commented on #89
I finished the workload of the protocols here + type annotation here: https://github.com/tony612/protobuf-elixir/pull/91

Anytime you folks have time review it or give a try
cc @darrenclark @tony612

[2020-04-01 07:37] ulissesalmeida commented on #90
@whatyouhide Interesting, I'm introducing the message level options here:

https://github.com/tony612/protobuf-elixir/pull/91/files#diff-b29046f70a5e38390cd6f773e215597cR32

It could be something like:

[code]

The only downside that I see is the users will have to manually put this option in all google protobuf messages. If for some reason they want to update their google protobuf messages isn't

[2020-04-01 11:41] 21it opened #93 "Unexpected default values"
[code]

atm produces

[code]

but expected

[code]

[2020-04-02 06:18] jahell commented on #93
`Foo.new` should give you the expected default values.

Still might be worth leaving open as the code generation could add the correct default values to `defstruct`s to make it work with the `%Foo{}` syntax as well.

[2020-04-02 14:20] tkachuk-labs commented on #93
Thanks, I'm aware of `new` function, it's just not powerful enough:

[code]

In protobuf standard field names can be changed safely, because only integer indexes matters. And this happens, which will make refactoring of code where `new` is used unpleasant as hell. The best alternative will be to combine both constructors like this

[code]

[2020-04-02 18:53] darrenclark commented on #89
Re: #91, nice!

Haven't had a chance to play with it, but looks like this would help in my project quite a bit.  Especially for converting to/from `DateTime`'s

[2020-04-02 19:12] whatyouhide commented on #90
I don't think Google would appreciate that 😄 But yeah, the option you showed is the only solution that I like so far. FWIW, we copied Google's Protobuf wrappers in our own collection of Protobuf schemas to have control over them, so for example, in our use case, the option you suggested would work great.

[2020-04-03 08:07] whatyouhide commented on #86
I would agree to add this feature to this library. I would probably go with a `to_json/1` function and a `from_json/1` function in the generated Protobuf modules, and I would go with a customizable JSON encoder/decoder (so you can choose Jason, Poison, and so on).

[2020-04-07 15:28] ulissesalmeida commented on #90
@whatyouhide I implemented a the ValueWrappers feature there:
https://github.com/coingaming/protobuf-elixir/pull/1

right now it's a global option from command line, but it's very straight forward to add a message option too.

However, this PR depends on encodable/decodable protocols, because that PR creates a distinction between modules and type annotations in the package metadata.  If you have a

[2020-04-16 13:45] tim2CF opened #98 "Incorrect oneof types"
https://github.com/tony612/protobuf-elixir/blob/242be798448e0464b87280df9f8fabffd2b0523d/test/protobuf/protoc/proto_gen/test.pb.ex#L223-L226

but expected

[code]

[2020-05-07 03:45] tony612 commented on #86
I think it's a good idea to support this, but there's no plan for the moment.

[2020-05-08 15:03] hkrutzer opened #103 "Can't compile sample extension.proto"
Input file:
[code]

When I try to run `protoc -I . --elixir_out=gen_descriptors=true,plugins=grpc:./out extension.proto`, I get:

[code]

Versions:
[code]

[2020-05-12 17:37] perezd opened #104 "Add support for upcoming proto3 field presence"
the `optional` keyword is coming back in proto3 (as of v 3.12), and this will enable the ability to declare explicit presence tracking which should introduce the generation of `hasXXX` style methods on fields.

* Context: https://github.com/protocolbuffers/protobuf/blob/master/docs/field_presence.md
* Implementation notes: https://github.com/protocolbuffers/protobuf/blob/master/docs/implementing_p

[2020-06-03 00:49] amiel commented on #86
Hi, I'm starting to work on implementing this.

@tony612 how do you feel about depending on https://github.com/michalmuskala/jason/? Any other thoughts you might have for me?

[2020-06-04 20:18] jahell commented on #93
@tkachuk-labs there is actually `.new!` that supports compile errors for fields that are non-existent: https://github.com/tony612/protobuf-elixir/blob/e1d4a23baa1f51c2da58db24f58a26dc4d6511b2/lib/protobuf.ex#L53

[2020-06-08 14:55] whatyouhide commented on #86
Hey @amiel! The company I work at ([Community](https://www.community.com)) is sponsoring some work on this library and @britto already started work on this. :) Feel free to coordinate with him here if you want to!

[2020-06-08 22:05] amiel commented on #86
@whatyouhide Awesome!

@britto I have started an implementation in my application (not in a fork of protobuf-elixir) and I'd be happy to share what I have so far.

[2020-06-08 22:10] britto commented on #86
Hi @amiel, that's awesome! Yes, I'd love to iterate on it with you.

[2020-06-08 22:56] amiel commented on #86
@britto Awesome. Feel free to send me an email at amiel@actionsprout.com.

[2020-06-12 07:16] tony612 commented on #103
To use the new extension, you have to use the latest protoc-gen-elixir. Note there's a bug here https://github.com/tony612/protobuf-elixir/issues/88

[2020-06-13 19:24] hkrutzer commented on #103
I am using 0.7.1

[2020-06-15 03:25] tony612 commented on #103
The elixirpb.proto you used is on master. If you want to use 0.7.1, you should use the old proto: https://github.com/tony612/protobuf-elixir/tree/v0.7.1

[2020-06-17 03:12] peburrows opened #106 "Imports not working as expected"
I'm trying to generate code from some proto files that use `import` extensively ([this datastore definition](https://github.com/googleapis/googleapis/blob/master/google/datastore/v1/datastore.proto), for instance), and while `protoc` runs successfully, the generated code seems to be missing module and struct definitions for the messages defined in the imported proto files.

I threw together a quic

[2020-06-17 20:24] ahamez opened #107 "Errors with Google conformance tests"
Hi,

I'm working on another protobuf library, [protox](https://github.com/ahamez/protox). My main objective being to be 100% compliant with the Google conformance test, I wondered how other libraries performed in this regard. I thought you might be interested in the results I found.

To sum up, out of 1302 tests, 123 are failing. It covers only binary serialization: I did not test JSON encoding/de

[2020-06-18 15:47] jeffutter opened #108 "Remove @moduledoc false from generated modules"
I realize this was added on purpose (https://github.com/tony612/protobuf-elixir/pull/17) I'm wondering if we could remove the `@moduledoc false` or make it optional?

We generate documentation for RPC clients that use the generated proto modules. It would be really handy if the docs included the protobuf modules, if only for the type definition.

I can open a PR for this if it would be a welcome a

[2020-06-18 16:28] whatyouhide commented on #108
What kind of documentation would you put in those files @jeffutter?

[2020-06-23 19:52] aquarhead commented on #106
I believe this lib's `protoc` integration only generates for a single file (in fact, I _think_ all protoc output behaves this way) so you'll need to iterate over all the files to generate them.

Disclaimer: I haven't looked for updates here for quite some time, but that's how we were using this.

[2020-06-25 23:54] perezd commented on #107
I think this is a good idea, so I've begun adding preliminary support for conformance testing in this project as of #114. I'll expand support for other test variations once this is merged.

[2020-06-26 10:19] ahamez commented on #107
Nice! If you need help in fixing those tests, don't hesitate to contact me, it was pretty tedious to figure out how to have an 100% compliant library as the Google documentation hides some details. For instance, when negative, a varint32 has to be encoded [like a varint64](https://github.com/ahamez/protox/commit/4c5e8e3b06793b2a2e47b203dd318a8d43b04e60) 🤔.

[2020-07-13 21:35] zetaron commented on #108
Hey @jeffutter I've created the PR #123 which includes annotated comments from proto files in the generated Elixir Code.

Maybe you can take a look and see if that would be an improvement to your current situation.

[2020-07-14 01:15] jeffutter commented on #108
@zetaron Taking a quick look at the PR and the examples - looks good. I'll see If I can get this branch installed and run it on our codebase tomorrow.

[2020-07-26 03:04] sleipnir opened #125 "How to access third-party options"
how can I access the options defined in a proto file?
I have the following proto file:

[code]
How do I access the options defined in the fields and services in this file?

Thanks

[2020-07-27 22:22] sleipnir commented on #125
ping...

[2020-07-30 16:26] sleipnir commented on #125
ping...

[2020-07-30 16:30] whatyouhide commented on #125
@sleipnir I will not have time to look into this anytime soon and it looks like @tony612 doesn't have time either. We'll get to it as soon as we can, no need for pinging :) Thanks!

[2020-07-30 17:05] sleipnir commented on #125
@whatyouhide Sorry for pinging I didn't know how active this repository was. Now that I know I will wait or look for alternatives. Thank you

[2020-08-04 19:04] shengwu opened #127 "Field options submessage in protoc plugin"
Say you have a proto file `example.proto`:

[code]

When you're writing a protoc plugin in elixir and using the generated `example.pb.ex`, this works as expected:

[code]

# Problem

Now let's say you move all of your options into a submessage:

[code]

When you're trying to extract the values of the options in your protoc plugin, only the last option has a value:

[code]

You'd expect it to print

[2020-08-04 23:16] shengwu commented on #127
Thinking more about this, I think the issue is really that protoc supports suboptimal syntax. The second example should really be written:
[code]

[2020-08-06 10:48] xinz opened #129 "For proto2 - explicitly set the default value of enum should not be skipped"
Hello,

Let's use the testing .proto file as below:

[code]

When we explicitly set `Test.Foo` module as below:

[code]

Current result: ```""```, but expected result: ```<<8, 0>>```

Refer the protobuf spec, the `skip` operation to the default value is mentioned "proto3" only, I also check the `gpb` encode [implement](https://github.com/tomas-abrahamsson/gpb/blob/master/src/gpb.erl#L747), it only

[2020-08-16 01:07] bamorim opened #130 "Application start is not idempotent"
As @igormq reported in gRPC repository [here](https://github.com/elixir-grpc/grpc/issues/165) (but it is actually a problem with this library), starting `:protobuf` is not idempotent, which means that if you need to restart the application (which can happen on purpose on some environments, such as how Nerve's Shoehorn works) protobuf refuses to start again.

This is due to this code here: https://

[2020-08-22 11:40] tim2CF opened #131 "Type wrappers (newtypes) encoding optimisation"
Protobuf is binary format, and in general, protobuf schema is segregated from runtime data. This means information about types and fields don't exist in encoded messages (opposite to JSON). We completely rely on decoder and assume it knows schema and can figure out how to decode given bytes. Let's say we have 2 messages

[code]

From my point of view, encoded representation of them should be compl

[2020-08-23 22:34] britto commented on #131
Hey, @tim2CF. That's a clever idea and –to some extent– libraries do optimize the representation of Google's [well-known types](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf) officially, but it is limited to the unmarshalled data structures, we can't do much when it comes to the _wire format_ though. It must be strictly compliant to the spec, otherwise we can't guar

[2020-08-23 22:38] britto commented on #88
This causes some "module redefined" warnings on the newly introduced benchmark datasets (#117) too. Something to keep in mind if we eventually decide to add them to CI.

[2020-08-24 07:47] tim2CF commented on #131
Hi @britto !
So standard itself requires these additional bytes? That's sad, because these newtypes (wrappers) are extremely good for well-typed API design, because plain int/string/byte types are blind, and we have to rely on field names or comments to help people to guess what does particular value mean. And even if people will guess, for computers two values `uint64 seconds` and `uint64 money_a

[2020-08-27 08:09] pacoguzman opened #132 "Repeated enum fields do not generate proper typespecs"
I'm not 100% sure about this sorry so this is more a question than an statement

In the case we have

[code]

The generate generates the following

[code]

Would you mind to confirm that is the expected typespec instead just `words: [Test.Word.t()],` so just one single `[` instead of `[[`

[2020-10-08 12:14] hkrutzer commented on #103
That worked, cheers. New release would be appreciated.

[2020-10-08 12:14] #103 closed

[2020-10-17 01:32] ryanwinchester opened #133 "module_prefix custom option giving odd errors"
I have tried with `v0.7.1`, `v0.8.0-beta.1`, and `master`

## Files

`./protobuf/elixirpb.proto`
[code]

`./protobuf/foo/foobar.proto`
[code]

[code]

## Results

For every character I add to the module prefix, **_the unicode point goes up by one_**. 😅

### 1

[code]

[code]

### 2

[code]

[code]

### 3

[code]

[code]

### 4

[code]

[code]

### Full error message

[code]

[2020-10-18 20:25] hkrutzer commented on #133
I had [the same error](https://github.com/tony612/protobuf-elixir/issues/103) but for me `master` did work.

[2020-10-21 22:56] ryanwinchester commented on #133
@hkrutzer Do you have an example of working `elixirpb.proto` and file that imports it? Because no matter what I do, I can't get it to work.

[2020-10-27 12:08] hkrutzer commented on #133
I used the one from the repo, and  `protoc -I proto/ --elixir_out=plugins=grpc:./app/lib/proto proto/**.proto` with `mix escript.install github tony612/protobuf-elixir`

[2020-10-27 18:02] ryanwinchester commented on #133
### Example repo

Here is an example brand new project with two proto files in `./protobuf`:

https://github.com/ryanwinchester/elixir-protobuf-module-prefix-no-worky

The files are the elixirpb from master, and the second one is the example usage of it from the readme on master.

### Compiling protos

To compile them use `./compile-protos`

which is really just:

[code]

### Result

[code]

[2020-10-27 18:06] ryanwinchester commented on #133
I figured it out. 🤦‍♂️

It's an issue with the escript `mix escript.install github tony612/protobuf-elixir` + using `asdf`

[2020-10-27 18:06] #133 closed

[2020-10-27 18:10] hkrutzer commented on #133
`asdf reshim` :D

[2020-11-09 23:22] sleipnir opened #134 "Google.Protobuf.Any pack unpack"
Hello, I admire this library and I intend to use it in a production system but in this project we depend a lot on the Any type, I would like to know if there is support for Any type? If yes, is there any usage example? In other languages like Java or Python we have the pack and unpack methods that enable us to decode and encode any type to the Protobuf Any type.

[2020-11-09 23:24] sleipnir opened #135 "Oneof example"
Hello people!
Is there any usage example for types defined with oneof?
I thank you for your attention.

[2020-11-10 23:43] #135 closed

[2020-11-22 20:20] ckreiling commented on #19
Checking in here, I'm planning on implementing a `protoc` Mix compiler for a couple reasons:

- I prefer to use mix as my core build orchestration tool, to make my build pipelines more maintainable. Requiring the execution of `protoc` without a Mix compiler causes friction here
- manually committing `.pb.ex` files is error-prone because I have to remember to run `protoc` locally and commit the gen

[2020-11-22 22:35] ckreiling commented on #19
This compiler intends to be a drop-in for compiling protobuf files stored in a project directory:

[code]

It'll exit when the first protobuf file fails to compile, and stop the compilation. You'd register it in your mix.exs like:

[code]

[2020-11-28 01:58] vans163 opened #137 "last _ (underscore) is truncated in message names."
a field defined in the .proto as message HAS_UNDERSCORES_5 becomes `defmodule HAS_UNDERSCORES5` or HAS_HAS_U_5_5 becomes HAS_HAS_U_55.

Seems to be an issue with
[code]
Macro.camelize in util.ex

[2020-12-11 08:55] alirezasharifianzadeh opened #138 "Custom options are not parsed correctly"
Hi, I am trying to parse this proto file:
`syntax = "proto2";

import "google/protobuf/descriptor.proto";

extend google.protobuf.EnumValueOptions {
  optional uint32 my_enum_value_option = 50005;
}

enum MyEnum {
  UNKNOWN = 0;
  FOO = 1 [(my_enum_value_option) = 321];
  BAR = 2;
}
`

with this command:
`protoc -I . --elixir_out=gen_descriptors=true:. --plugin=/Users/alirezasharifianzadeh/.asdf/i

[2020-12-23 14:15] wingyplus opened #141 "Test failed on master branch"
I clone and run `mix test` and found 2 tests was broken:

[code]

[2020-12-23 14:24] wingyplus commented on #134
Any are also support in https://github.com/elixir-protobuf/google-protos/blob/master/lib/google_protos/any.pb.ex#L1

[2021-01-26 23:25] skbolton commented on #108
@jeffutter @zetaron anything new around this? I am also interested in more docs and specs being pulled over when generating modules.

[2021-02-23 14:40] bnadlerjr opened #143 "New Release?"
Hi! The main branch has JSON encoding/decoding support I'd like to use. Curious if there's a release planned since I don't want to have to add a dependency on the main branch.

[2021-02-23 17:33] isaacsanders commented on #134
I feel like converting the URL into a Module then decoding from the module definition might be a way to do it, but I have no idea if that is possible.

[2021-03-17 19:27] sleipnir opened #146 "Create Elixir protobuf files dynamically"
Hello how are you?

I have an application that needs to create the protobuf and grpc code (elixir modules)  from a FileDescriptor received via request dynamically.
I saw that there is the **Protobuf.Protoc.Generator** module of this library and I would like to use it in my code base to generate the necessary code.
Would it be possible? If so, can you show me an example of how this could work?
Belo

[2021-03-30 22:42] sleipnir commented on #146
Thank you guys.
This is resolved

[2021-03-30 22:42] #146 closed

[2021-04-08 07:52] maennchen commented on #143
@bnadlerjr I would really appreciate a release.

The protos of this library use `extend`. If I'd use the dependency via git, I could no longer publish it to hex.

https://github.com/jshmrtn/zitadel_api/pull/3
https://github.com/jshmrtn/zitadel_api/pull/3/checks?check_run_id=2294694580

[2021-04-09 01:04] sleipnir commented on #127
Hi guys.

I can't use this. For me I get a message saying that get_extension does not exist in that module. Is there a tutorial for using extensions?

[code]

[2021-04-09 15:12] sleipnir opened #147 "FieldOptions and MethodOptions extensions return nil"
Hi guys. This is an excellent library and it has helped me a lot, but I have been saying some problems to access extensions that were defined in the proto files.
I have the following proto definition:

[code]

The elixir plugin generated the following modules for the extensions

entity_key.pb.ex:
[code]

And annotation.pb.ex:
[code]

And I have the following functions to retrieve the field and met

[2021-04-09 17:56] spokc commented on #134
@sleipnir Can you please post the full working example ?

[2021-04-09 18:47] sleipnir commented on #134
https://github.com/eigr/massa/blob/db4f2edb2dd0ed306a0f27dbd91aece9c5772546/massa_proxy/apps/massa_proxy/lib/massa_proxy/util.ex#L3

https://github.com/eigr/massa/blob/db4f2edb2dd0ed306a0f27dbd91aece9c5772546/massa_proxy/apps/massa_proxy/lib/massa_proxy/protocol/action/unary_handler.ex#L28

Does it help you?

[2021-04-09 21:21] spokc commented on #134
@sleipnir Thanks. I have tried the same with your source as the reference.

But, according to the spec, the type key is to be given as `@type`, instead the library seems to be using `type_url`. Couldn't integrate the same with compliant specs

What can we do here ?

Regards

[2021-04-09 22:50] sleipnir commented on #134
@spokc I think you are referring to the protobuf's JSON encoding and not the protobuf encoding itself. My implementation was tested against Python and Java clients without problems with Probuf without Json encoding, only native protobuf client server.

https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/any.proto#L91

See that I don't change the type defined by the specific

[2021-04-09 23:26] spokc commented on #134
@sleipnir Sorry wasn't very clear before. Yes I was indeed talking about JSON encoding. We're exposing both grpc & HTTP/JSON APIs and the most common language is JSON

https://github.com/elixir-protobuf/google-protos/blob/master/lib/google_protos/any.pb.ex#L11 -> Adding `, json_name: "@type"` to this line could help

Regards

[2021-04-12 18:31] spokc commented on #134
@sleipnir That wouldn't help, as i thought that JSON mapping is implemented completely. Seems like we already have one issue #86 already. Whatever we have doesn't support proto's `Any` type yet

[2021-04-12 19:00] sleipnir commented on #134
@spokc Was #86 not solved by #105 and #109 ?

[2021-04-13 06:19] spokc commented on #134
@sleipnir Unfortunately, no. `Any` isn't supported yet. Ref: https://github.com/elixir-protobuf/protobuf/blob/master/lib/protobuf/json.ex#L27

[2021-04-15 16:04] #141 closed

[2021-04-16 09:06] whatyouhide commented on #59
@uberbrodt could you try this with the latest version of protobuf? Thanks!

[2021-04-16 09:18] whatyouhide commented on #89
@ulissesalmeida on principle, I’m somewhat okay with this feature. However, in the current state of the library with all the issues (a bunch of which are bugs) and PRs that are open, I think it would be beneficial to focus on getting this back into a state of excellence with a smaller feature set. Once we're there, I'd be happy to revisit this. For now, this would solve an inconvenience and not an

[2021-04-16 10:34] ulissesalmeida commented on #89
@whatyouhide Coingaming uses heavily this feature, without it, they will not be able to migrate from their fork to the main repo.
Unless they do a huge workforce to stop using this convenience. Maybe @thalesflores have some inputs.

I personally don't feel attached because I'm not working there anymore 🤣
So, I'm 👍🏽  for what is the best for the library. I don't think the library needs to tackle al

[2021-04-17 15:45] #132 closed

[2021-04-17 15:49] whatyouhide commented on #143
Hey @bnadlerjr, we're working on a release. It will take a few weeks. For now, you'll have to work with using the library as a Git dependency. Thanks!

[2021-04-17 15:49] #143 closed

[2021-04-17 16:02] whatyouhide commented on #108
Hey @jeffutter, closing this in favor of the PR. Thanks!

[2021-04-17 16:02] #108 closed

[2021-04-17 16:16] whatyouhide commented on #137
I discussed this with the Elixir core team. `Macro.camelize/1` behaves consistently. I think in this case this library is doing the right thing. You can customize the module name and I think that's what you should do if you want a name different than the one that gets generated. Thanks for the report though! 💟

[2021-04-17 16:16] #137 closed

[2021-04-17 16:31] whatyouhide commented on #89
Yep, this is my main point too. They can still keep a fork of this up to date with features on top of it, but unless we get additional maintainers here, I’m a bit wary of adding new features :) Thanks anyways!

[2021-04-17 16:31] #89 closed

[2021-04-29 14:08] rmertzpfpt opened #152 "Include `.proto` files comments as `@moduledoc` and `@doc` in generated files."
It would be nice to have comments from the `.proto` files included in the generated `.pb.ex` files when using `protoc-gen-elixir`

[2021-04-29 14:14] rmertzpfpt opened #153 "Custom option for generating multiple *.pb.ex files"
Would be nice to have a custom option to generate separate `.pb.ex` files per message in a single `.proto` files when using `protoc-gen-elixir`. Similar to the option available in the java protoc plugin: `option java_multiple_files = true;`

[2021-05-03 00:07] ckreiling opened #154 "Extensions boostrapping in interactive mode misses PbExtension modules"
I'd like to report what I think is a bug in extensions cache bootstrapping. I realize extensions are in beta right now but figured if anybody else runs into the issue, they might end up here! I'm also more than willing to open a PR, if maintainers are ok with that.

#### Elixir/Erlang Version

[code]

#### Description

Decoding a message with extensions produces a struct with no extensions filled

[2021-05-07 15:24] #127 closed

[2021-05-17 08:14] whatyouhide commented on #152
Closing as mostly duplicate of https://github.com/elixir-protobuf/protobuf/pull/123.

[2021-05-17 08:14] #152 closed

[2021-05-24 13:12] bbenph opened #155 "(Protobuf.DecodeError) wrong wire_type for nested_type: got 0, want 2"
hi i try follow the readme.md to create a demo when i execute the command it failed

[code]

my mix.exs
[code]

my computer is windows10 64bits
the protoc version is  `libprotoc 3.17.0`

what can i do to use the command correctly ?

[2021-05-26 02:38] jonathantawfik opened #156 "Add support for optional keyword (it is in proto3 since release 3.1)"
When trying to include optional fields in a proto3 message I get this error :
proto/pns.proto: is a proto3 file that contains optional fields, but code generator protoc-gen-elixir hasn't been updated to support optional fields in proto3. Please ask the owner of this code generator to support proto3 optional.--elixir_out:

[2021-06-07 13:43] whatyouhide commented on #59
Hey @uberbrodt, no worries! Since we can't reproduce, I'll close this for now. Let me know if this shows up again. Thank you so much! 💟

[2021-06-07 13:43] #59 closed

[2021-06-07 13:44] whatyouhide commented on #86
Hey everyone, this has been implemented for a while. It's not in a main release yet but we'll do our best to release a new version soon. Anyways, closing this issue since the feature's on the main branch 😌

[2021-06-07 13:44] #86 closed

[2021-06-07 13:45] whatyouhide opened #157 "Fix compilation warnings on CI"
These were introduced in #124.

cc @britto

[2021-06-07 13:48] whatyouhide commented on #131
Hey @tim2CF, we'll take a look at this but I’m closing this issue for now since it's not pressing nor a bug. We'll pick it up again when we'll have a chance to do another round of performance improvements on the library. Thank you so much for all the discussion and context 😌 💟

[2021-06-07 13:48] #131 closed

[2021-06-07 13:49] whatyouhide commented on #156
Closing since this is a duplicate of #104. Thanks @jonathantawfik! 💟

[2021-06-07 13:49] #156 closed

[2021-06-07 13:50] whatyouhide commented on #90
Hey @ulissesalmeida, we're trying to clean up issues so I’m closing this one since we likely won't pick it up until we have time for a major release in the future. The context and discussion here are super helpful though, so thank you for all the input! Hopefully we'll come back to this soon enough 😌 💟

[2021-06-07 13:50] #90 closed

[2021-06-09 11:57] zivaskovic opened #160 "generate v7 of google ads api - optional fields problem"
I am trying to generate v7 of google ads api. And i am getting error that says:

google/ads/googleads/v7/errors/errors.proto:142:1: warning: Import google/api/annotations.proto is unused.
google/ads/googleads/v7/resources/currency_constant.proto: is a proto3 file that contains optional fields, but code generator protoc-gen-elixir hasn't been updated to support optional fields in proto3. Please ask

[2021-06-09 12:03] zivaskovic commented on #160
In the meantime i have changed proto definitions from google and removed optional fields.

[code]

to

[code]
and was able to generate v7 api for elixir but have some problems with int32 with "0" to be more precise. Other optionals work (string, boolean...)

[2021-06-11 13:39] whatyouhide commented on #160
Hey @zivaskovic , thanks for the report. Closing because this is a duplicate of https://github.com/elixir-protobuf/protobuf/issues/104.

[2021-06-11 13:39] #160 closed

[2021-07-10 17:28] paulbalomiri opened #162 "pbf ext.json field not mapped into the `json_name` field property"
Some context info first:

the proto definitions contain the `ext.json` extension variables for the json encoding, which is used to serve the Rest endpoints. The spec files look like this:
[code]

 the json extension property on field names, however, is not used for code generated which looks like this:
[code]
I have read [the initial JSON proposal](https://github.com/elixir-protobuf/protobuf/issue

[2021-07-20 08:37] #130 closed

[2021-07-20 17:12] britto commented on #157
Addressed in #158.

[2021-07-20 17:51] britto commented on #162
Hi @paulbalomiri! Let me try to address your questions.

No. JSON and Extensions are totally distinct features. `Protobuf.JSON` aims to support encoding and decoding whole messages in JSON format. It's an official feature, supported in Proto3. You can read more about it in #105.

These `ext.*` entries are custom field options defined by Syncthing itself:

https://github.com/syncthing/syncthing/blo

[2021-07-20 20:09] britto commented on #155
Hi @bbenph! Could you share the `sample_app.proto` file you used to reproduce the issue?

[2021-07-20 20:37] britto commented on #147
Hi @sleipnir! Could you share what those `Logger.debug` calls are printing? Does the `field_descriptor.options` struct contain any `__pb_extensions__` key in it?

[2021-10-04 17:08] ericmj commented on #154
I can't think of a good fix for this other than walking the code path and loading all modules in it, which we obviously don't want to do.

The only workaround I can think of is to add a `Protobuf.load_extensions/0` function that would be called from the user's application start callback. This function would work because the user's application is the last to start so all dependency applications wil

[2021-11-04 07:13] whatyouhide commented on #153
@rmertzpfpt heyo, thanks for the proposal! Can you expand on what is the use case you'd be using this for?

[2021-11-04 07:15] whatyouhide commented on #147
Hey @sleipnir , thanks for the report. As we have no more info and no clear way to reproduce this, I'm going to close this issue. Feel free to reopen the issue or comment down here 👇 if you manage to get more context or a minimal reproducing case. Thanks for taking the time! 💟

[2021-11-04 07:15] #147 closed

[2021-11-04 07:17] whatyouhide commented on #125
Closing as this is essentially a duplicate of https://github.com/elixir-protobuf/protobuf/issues/138 now. 🙃

[2021-11-04 07:17] #125 closed

[2021-11-04 07:17] whatyouhide commented on #107
@britto didn't we fix these conformance tests at this point, or am I remembering wrong? 🤔

[2021-11-04 07:18] whatyouhide commented on #106
As far as I can tell, @aquarhead's comment solves this issue. @peburrows if you are still having problems, please comment down here 👇 and we'll take a look 🙃 Thanks everyone! ❤️

[2021-11-04 07:18] #106 closed

[2021-11-04 07:20] whatyouhide commented on #104
`optional` has been released in [version 3.15 of Protobuf](https://github.com/protocolbuffers/protobuf/releases/tag/v3.15.0). We can now probably support this.

[2021-11-04 07:21] whatyouhide commented on #93
@britto did we happen to fix this recently?

[2021-11-04 07:21] whatyouhide commented on #88
@britto @ericmj do we still have this issue?

[2021-11-04 07:22] whatyouhide commented on #79
This seems to be a non-issue here. Closing this, thanks everyone!

[2021-11-04 07:22] #79 closed

[2021-11-04 14:46] britto commented on #88
@whatyouhide Yes, we do. I think we'd have to introduce some randomness into the generated extension module name to prevent that.

[2021-11-04 14:56] britto commented on #153
@whatyouhide we have an example of that in our integration tests. Multiple types defined in a single file, `test/protobuf/protoc/proto/test.proto`, end up generating multiple modules in a single `.pb.ex` file, `test/protobuf/protoc/proto_gen/test.pb.ex`.

I believe the ask here is to provide an option to generate one `.pb.ex` file per generated module.

[2021-11-04 15:29] rmertzpfpt commented on #153
re: @whatyouhide

@britto that is correct. The use case here is mainly around convention. It would be easier to browse generated modules in separate `.pb.ex` files as well as managing/monitoring changes resulting from `.proto` changes in version control.

[2021-11-04 15:59] whatyouhide commented on #88
Can we get a small reproducing case? Is this a specific issue to `import`/`extend` in proto2 or does it apply to proto3 as well?

[2021-11-04 16:25] britto commented on #107
@whatyouhide we fixed some of them, but it would be great if we could fix the remaining ones and keep up with upstream conformance tests. I've just given #114 a test run from protobuf master (3.19.x) and it reported:

[code]

[2021-11-04 17:12] britto commented on #88
It happens when we define extensions for the same module in separate files. Here's a small reproducingn case. Consider the following 3 proto files:

[code]

[code]

[code]

When we compile them, we'll end up with 3 `.pb.ex` files. The extension files will both define their own module and a conflicting extension module as well:

[code]

[code]

Then we'll get a compilation warning saying `redefinin

[2021-11-04 17:58] britto commented on #93
We haven't.

The original issue regarding struct defaults is indeed a duplicate of #95.

Comment https://github.com/elixir-protobuf/protobuf/issues/93#issuecomment-607875957 above on the other hand seems to be a different issue, about stricter type checking. The `new!` constructor will help us with typos in field names and properly raise an error when required fields are missing, but it won't chec

[2021-11-04 18:08] ericmj commented on #88
Is it possible to namespace the extension module under the name of the module it is extending? So that the module name would be `Bugs.Ext1.PbExtension`.

[2021-11-05 06:01] britto commented on #88
@ericmj I think so, but we'd still be unable to fix the problem for unscoped extensions. Similar example as above, but without defining extension modules:

[code]

[code]

[code]

We'll also end up with 3 `.pb.ex` files and the extension modules will have conflicting names too:

[code]

[code]

[2021-11-06 21:16] whatyouhide commented on #153
I think I would be ok with generating one file per generated module (behind an option). We would do

[code]

One last question @britto and @rmertzpfpt: we should generate the proper directory structure (that is, `Foo.MyEnum` goes into `foo/my_enum.pb.ex`) or just underscore everything (`Foo.MyEnum` goes in `foo_my_enum.pb.ex`)?

[2021-11-06 21:46] whatyouhide commented on #93
Closing in favor of the PR #184.

[2021-11-06 21:46] #93 closed

[2021-11-06 23:52] rmertzpfpt commented on #153
@whatyouhide , I think proper directory structure makes the most sense - it is what was in mind when I originally made the feature request.

[2021-11-10 13:40] #153 closed

[2021-11-24 08:40] whatyouhide commented on #107
Closing this now that we have conformance tests set up. Will work through them and open more specific issues as we go. Thanks @perezd! 💟

[2021-11-24 08:40] #107 closed

[2021-11-24 09:31] whatyouhide opened #202 "Use a shell script instead of a different escript for conformance tests"
We can have a shell script (say, `conformance-client`) that looks something like this:

[code]

This way, we don't have to do conditional generation of the escript based on the Mix environment and we can run conformance tests in the `:test` Mix environment.

[2021-11-24 10:11] whatyouhide opened #204 "Support Google.Protobuf.* types when decoding/encoding JSON"
We are supposed to support Google types such as `Google.Protobuf.Duration`, `Google.Protobuf.Struct`, wrappers, and so on:

https://developers.google.com/protocol-buffers/docs/proto3#json

There are a bunch of conformance tests failing because of this, so we already have a sort of test suite.

One issue is that we don't want to ship the compiled `.pb.ex` files for these Protobuf schemas in the lib

[2021-11-24 10:14] whatyouhide opened #205 "Fix FunctionClauseError when decoding varints"
This error can be brought up by running the conformance tests after removing some of the exempted tests.

The error is pretty much always this:

[code]

This is just one of the many conformance tests that trigger this error: `Required.Proto3.ProtobufInput.ValidDataRepeated.BOOL.UnpackedInput.ProtobufOutput`.

[2021-11-26 15:31] #204 closed

[2021-11-26 15:32] whatyouhide opened #208 "Support Google.Protobuf.Any in JSON encoding/decoding"

[2021-11-26 15:35] whatyouhide opened #209 "Switch from ISO8601 to RFC3339 for dates in JSON"
Right now we use Elixir's built-in functions for decoding/encoding JSON `Google.Protobuf.Timestamp`. However:

* Some validations are not performed (`t` is valid instead of `T` for the time, but it shouldn't according to conformance tests)
* We lose nanosecond precision, which `Google.Protobuf.Timestamp` supports

[2021-11-27 20:00] #209 closed

[2021-11-29 08:22] whatyouhide opened #213 "Support JSON mapping in proto2"
This is an example of a conformance test that fails regarding this: `Recommended.Proto2.JsonInput.FieldNameExtension.Validator`

[code]

[2021-11-29 08:24] whatyouhide opened #214 "Fix enum aliases"
See <https://developers.google.com/protocol-buffers/docs/proto>:

<img width="899" alt="Screenshot 2021-11-29 at 09 23 50" src="https://user-images.githubusercontent.com/3890250/143832438-d3487ee2-3973-4a8d-bb7b-10b69804f08e.png">

[2021-11-29 08:26] whatyouhide opened #215 "Fix conformance tests related to JSON mapping of Google.Protobuf.Timestamp"
These are the failing tests:

[code]

[2021-11-29 09:23] #215 closed

[2021-11-29 15:25] #214 closed

[2021-11-29 16:37] #205 closed

[2021-11-29 21:48] whatyouhide opened #218 "Don't discard unknown fields"
They need to be re-encoded when dumping.

(from https://developers.google.com/protocol-buffers/docs/proto#updating)

This is a conformance test that fails because of this: `Required.Proto3.ProtobufInput.UnknownVarint.ProtobufOutput`

[2021-11-30 06:25] nikunjy opened #220 "Ability to get proto file from a descriptor"
Protobuf libraries (native and thirdparty) support getting a proto file from a message descriptor in golang, python and java.  What would it take to support this in this protobuf compiler.

Here is what it would look like

sample.proto
[code]

sample.pb.ex
[code]
Now if I create  an object of `Foo` then I am looking to create an API `to_proto` such that
[code]

This will be a useful functionality

[2021-11-30 09:29] whatyouhide commented on #220
We don't get the source string as is from `protoc`. We get the "source code info" (`Google.Protobuf.SourceCodeInfo`) and we might be able to rebuild the original source from that, but it's not a trivial task. We can't easily just read the `.proto` files either because they can contain multiple or nested messages, so mapping from a single message to its Protobuf source string would not be possible

[2021-11-30 10:47] whatyouhide opened #221 "Add support for :iodata option in Protobuf.encode/1 and generated functions"
Right now `:iodata` is supported in `Protobuf.Encoder.encode/2` but it's not bubbled up to `Protobuf.encode/1` and to the generated `message_mod.encode/1` (`c:Protobuf.encode/1`).

[2021-11-30 18:09] #221 closed

[2021-11-30 18:19] nikunjy commented on #220
Hey @whatyouhide  thank you so much for replying.
For python when `.pb.py` files are generated they have this https://googleapis.dev/python/protobuf/latest/google/protobuf/descriptor.html#google.protobuf.descriptor.FileDescriptor  which has the `serialized_pb` field that has the proto

Confluent has written a protobuf schema and serializer for protobuf here https://github.com/confluentinc/schema-r

[2021-12-01 07:13] whatyouhide commented on #220
@nikunjy ah, I see what the languages are doing. This is great! We already support retrieving the descriptor. All you have to do is generate your Elixir files with

[code]

Now, the generated Elixir modules will have a `descriptor/0` function that returns the descriptor (like `Google.Protobuf.DescriptorProto`) with the source code info.

So, you can write a library separate from this one that take

[2021-12-01 07:13] #220 closed

[2021-12-01 07:22] whatyouhide opened #223 "Support repeated optional fields by merging them or picking the last"
From the Protobuf language guide's [*Updating a Message* section](https://developers.google.com/protocol-buffers/docs/proto3) (emphasis by me):

We are not currently doing this, but we need to pick the last scalar value or merge messages if they are `repeated` + `optional`, apparently. I'm not 100% sure of this, but I indeed so something like this behavior expected by some conformance tests. An ex

[2021-12-01 07:53] whatyouhide opened #224 "Cast number types back to their max size when they overflow"
The Protobuf specification says that if a number type overflows, it needs to be cast back to fit the size of its type. This is to ensure forwards compatibility if a number field changes type, say from `int64` to `int32`. Then, `int64` values that don't fit into 32 bits need to be cast back to fit in there.

[One of the conformance tests](https://github.com/protocolbuffers/protobuf/blob/66b7b71a455

[2021-12-01 07:59] whatyouhide commented on #134
Closing this in favor of the JSON-focused issue, #208. Thanks everyone! 💟

[2021-12-01 07:59] #134 closed

[2021-12-02 07:12] #224 closed

[2021-12-03 15:16] whatyouhide opened #228 "Respect [packed=false] option in proto3"
Seems like in proto3 we always use packed encoding for `repeated` fields, even if they explicitly say `[packed = false]`.

[2021-12-03 17:20] #228 closed

[2021-12-03 21:25] whatyouhide commented on #223
Fixed in #227, as it turns out!

[2021-12-03 21:25] #223 closed

[2021-12-10 21:27] gmorell opened #232 "** (Protobuf.DecodeError) wrong wire_type for field start_time: got 0, expected 2"
Similarly to #155, I'm getting an error while attempting to decode a protobuf.

I compiled the module from https://developers.google.com/transit/gtfs-realtime/gtfs-realtime.proto as per the README, Took one of the generated modules to try it out and got the error from the summary. I then proceeded to find additional urls to ensure that my provider wasn't outputting incorrect data and was able to r

[2021-12-11 07:30] whatyouhide commented on #232
Thank you @gmorell. I can reproduce the error with the first file taken from <https://cdn.mbta.com/realtime/TripUpdates.pb>. However, it's hard to say if the file was actually encoded correctly. Do you have examples of the binary there being decodable with other Protobuf libraries, to confirm it's a well-formed encoded Protobuf payload?

[2021-12-13 16:10] #218 closed

[2021-12-14 13:15] ahamez commented on #232
Hi there, the reason you cannot decode as a `TripUpdate` is most certainly because it's not this definition at the top-level of the protobuf binary file, but rather a `FeedMessage`. The following works for me:

[code]

[2021-12-14 19:46] whatyouhide commented on #232
Yep, I assume the same. Closing this issue for now, thanks for the suggestion @ahamez! If this still creates problems, feel free to comment down here 🙃

[2021-12-14 19:46] #232 closed

[2021-12-14 19:50] gmorell commented on #232
Doh, thanks for the help.

[2021-12-15 06:51] #202 closed

[2021-12-19 14:23] whatyouhide commented on #208
It was a lie. This is a pain to support, so we won't do it for the time being 🙃

[2021-12-19 14:23] #208 closed

[2021-12-21 01:40] mikebveil opened #239 "oneof fields incorrectly skipped when value matches the default"
There is a [rule](https://github.com/elixir-protobuf/protobuf/blob/6b8f40f206375c36666f2cc9a570a061f9f0d89a/lib/protobuf/encoder.ex#L78) in `encoder.ex`to skip encoding of a field value if it matches the field's default value. This is incorrect in the case of `oneof` fields, since the explicit value lets us determine which case was set. Note the the [language guide](https://developers.google.com/p

[2021-12-25 14:03] alberthives opened #241 "How to convert from Elixir DateTime to Google.Protobuf.Timestamp"
Hi,

I have a fairly simple problem I am trying to solve but can't find any documentation.

I have defined a field, time, in a proto with the following type: google.protobuf.Timestamp

The Elixir code that is generated for the field is as follows: <my_namespace>.Google.Protobuf.Timestamp

Now, I am attempting to map an Elixir DateTime type to Google.Protobuf.Timestamp and was wondering how I would

[2021-12-25 19:31] whatyouhide commented on #241
Heyo, `Google.Protobuf.Timestamp` is made of a seconds field and a nanoseconds field. You can convert an Elixir `DateTime` to those like this:

[code]

If you want to do this automatically, I'd recommend looking into [`Protobuf.TransformModule`](https://hexdocs.pm/protobuf/Protobuf.TransformModule.html).

Thanks! 💟

[2021-12-25 19:31] #241 closed

[2021-12-25 19:32] #239 closed

[2021-12-25 20:22] alberthives opened #242 "protoc-gen-elixir generating incorrect code for fields of type google.protobuf.Timestamp when package_prefix is used"
Hi,

Given the below Protobuf file, I am getting the wrong generated elixir code when I define a google.protobuf.Timestamp field and run the protoc command with the following switch `--elixir_opt=package_prefix=my_type`

[code]

My expectation is that the the code produced would look like this:

[code]

However, what actually gets generated is:

[code]

Because of this issue, I have to change the

[2021-12-25 21:04] alberthives commented on #241
Thanks @whatyouhide.

[2021-12-31 20:28] alberthives opened #244 "Protobuf.JSON.encode does not work with :use_proto_names option"
When I create a `.proto` file that has fields that have `_` characters and attempt to encode the Protobuf type into JSON like below it doesn't seem to be doing so.

[code]

[code]

Expected JSON:

[code]

Actual JSON:

[code]

The generated Elixir code sets the `json_name` to `"myType"`.

Is there a way to generate the Elixir code so that the `json_name` to `"my_type"`?

The workaround is to manua

[2022-01-04 06:50] whatyouhide commented on #244
@alberthives thanks for the report!

The generated `json_name` will always be `myType` unless you change the `json_name` option **in the `.proto` file itself.

However, `:use_proto_names` should ignore the `json_name` option and just use the Protobuf field name instead.

You are using the option incorrectly though. You have to pass `use_proto_names: true | false`, not `[:use_proto_names]`.

This w

[2022-01-04 06:50] #244 closed

[2022-01-04 16:30] alberthives commented on #244
I can confirm that this fixes the issue. Thanks @whatyouhide

[2022-01-05 17:23] jeanparpaillon opened #250 "protoc: error when referencing lower case type as field type"
Let a message type:

[code]

Let `my_basic_type` being referenced later:

[code]

The generated code is:

[code]

That should be:

[code]

`MyBasicType` module is generated correctly

[2022-01-06 08:41] whatyouhide commented on #250
Oh, nice catch @jeanparpaillon!

I'm closing this in favor of #251, thank you so much for getting a PR ready already 💟

[2022-01-06 08:41] #250 closed

[2022-01-07 08:30] eddy147 opened #252 "Lowercase enums generate wrong typespecs"
when generating elixir code, the generated defmodule starts with an uppercase, but the reference to the type has a lowercase:

in the proto file:

[code]

The generated defmodule:

[code]

I think this
``` type: Police.Protos.valueType().t(),```
should be
``` type: Police.Protos.ValueType.t(),```

and
```field :type, 2, optional: true, type: Police.Protos.valueType(), enum: true```
should be
```fi

[2022-01-07 13:40] whatyouhide commented on #252
@eddy147 I believe this has been fixed in #251. Can you give the latest `main` branch of this repo a try please?

[2022-01-07 14:04] eddy147 commented on #252
checked out main (32d8f) as dependency in my elixir project, but I have the same issue.

[code]

[2022-01-08 07:36] #252 closed

[2022-01-08 08:39] eddy147 commented on #252
Thx so much

[2022-01-08 10:30] #242 closed

[2022-01-11 20:29] mikebveil commented on #239
@whatyouhide: Is there an ETA at this point for a release that includes this fix? We are upgrading from 0.6.3 for performance reasons, and this was blocking us. Our plan is to use the next release from you if it's coming in the next few weeks, rather than using our own fork.

[2022-01-12 07:18] whatyouhide commented on #239
@mikebveil I'll try to get a new version out this week!

[2022-01-14 15:17] jeanparpaillon opened #256 "Plugin version"
Plugin version should be more precise

When building plugin from sources, it reports a fixed version (from `mix.exs`). Sthg like `git describe` should be used to avoid confusion.
As of today, library from HEAD is not compatible with code generated with plugin 0.9.0 (released)

[2022-01-14 15:18] jeanparpaillon opened #257 "Plugin: store plugin version in generated files"
Files generated by the protoc plugin depends on specific version of the library.
The plugin should store the plugin version in generated files, as to allow version checking.

[2022-01-14 15:48] whatyouhide commented on #256
I believe the solution to this is to do what many other tools do, such as Elixir itself: use `<version>-dev` as the version when developing and only remove the `-dev` suffix right when releasing. This would ensure that no locally-built plugin has a version that has been published to Hex. What do you think?

[2022-01-14 15:49] whatyouhide commented on #257
Yes, we should absolutely do this. Proposals on how it would look like in the generated files are very welcome.

[2022-01-17 09:55] jeanparpaillon commented on #256
My concern is to differentiate released version from version built from HEAD (especially for plugin).
So, this solution is fine for me.

[2022-01-17 11:31] #256 closed

[2022-01-17 11:34] #257 closed

[2022-02-21 13:28] mikebveil commented on #239
One last ping on this one, @whatyouhide.

[2022-02-25 20:43] supersimple opened #266 "Use .proto comments as @moduledoc for generated schemas"
I would like to have my generated files show up in documentation.
In my case, I am publishing a private hex package that we use to distribute the generated pb files amongst different Elixir services in our organization.
For my case, I just want to documentation to show what the module names are. We don't need any more detail than that.

[2022-03-01 15:18] whatyouhide commented on #266
@supersimple this is on our radar and has been for a while. See https://github.com/elixir-protobuf/protobuf/pull/123. At the time we decided to postpone this but I'd be okay adding it, it seems like it's a desired feature for multiple users of the library.

Todd, any chance you'd have some time to work on this? I can work on this but in a couple weeks at best, using all my cycles now for https://g

[2022-03-03 15:43] supersimple commented on #266
@whatyouhide i might have some time.
I was just hoping for a flag to remove the `@moduledoc: false` so I could see the module names in docs. It looks like that PR wants to provide a binary for the documentation.
Would it be okay to send up a PR for just the first part? or would you rather support that binary option?

[2022-03-06 16:09] ericmj commented on #266
Starting with an option to just disable `@moduledoc: false` sounds fine with me as long as it can be extended in the future to include the moduledoc string.

[2022-05-16 07:21] whatyouhide opened #274 "Split out benchmarks into a separate repository"
Benchmarks are great but they belong in another repository, where they can be compiled on their own and don't get in the way of regular Protobuf development 🙃

[2022-05-20 09:02] yordis opened #275 "Dialyzer issue "Callback info about the Protobuf behaviour is not available""
Hey peeps, I recently ran a the `protoc` with the elixir plugin and I am getting the following error running `mix dialyzer`:

[code]

Here is my dialyzer configuration:

[code]

Beside that I haven't done much.

Please let me know what other information I can share with you to help me to fix it or something.

Cheers,

[2022-05-27 04:31] yordis commented on #275
Also, scrolling upward even further, I discovered the following issues as well as part of the output:

[code]

[2022-05-27 04:38] yordis commented on #275
Also,

[code]

[2022-05-27 05:50] yordis opened #276 "Use atom keys for maps"
Hey there, I have the following proto:

[code]

I wondering if when I decode `instruction_details` the key of the map could be an atom instead of string.

[2022-05-27 06:16] yordis commented on #275
I keep turning things off and this happens:

[code]

[2022-05-29 08:14] ericmj commented on #275
What do you mean by "turning things off"? The functions dialyzer say are unknown are existing, public functions.

[2022-05-29 18:18] yordis commented on #275
@ericmj I meant to add an entry to my `.dialuzer_ignore.exs`

[code]

[code]

[2022-05-31 04:52] thbar opened #278 "Generated code appears to be changed via "mix format""
First, thanks for your maintenance of `protobuf`! We use it at https://transport.data.gouv.fr/ to decode GTFS-RT (realtime transportation) files (to interpret the data here https://transport.data.gouv.fr/resources/79317?locale=en or even to show realtime vehicle positions at https://transport.data.gouv.fr/explore), and are very happy to see it maintained properly!

While bumping up `protobuf` to t

[2022-05-31 14:59] whatyouhide commented on #278
Hey @thbar! Thanks for reporting. First of all, cool use case, thanks for taking the time to write down some details 😊

I think what's happening here (I didn't investigate) is that `field` and other macros are in `:locals_without_parens` here in this repository's `.formatter.exs`. However, your repository doesn't specify anything like that in [its `.formatter.exs`](https://github.com/etalab/transp

[2022-05-31 15:16] whatyouhide commented on #276
@yordis the library provides a functionality under [`Protobuf.TransformModule`](https://hexdocs.pm/protobuf/0.10.0/Protobuf.TransformModule.html) that lets you pipe decoded/encoded data through a module of your choice before decoding/encoding.

You can use that to achieve what you want. IIRC, maps are internally defined as a repeated map entry message or something like that. So, you might achieve

[2022-05-31 15:16] #276 closed

[2022-06-02 05:49] thbar commented on #278
@whatyouhide thanks for the feedback! Much appreciated. I will use your fix (I wasn't aware of `import_deps` yet) ; it is not a huge burden of course, more a dev-experience feedback. Happy to help in any way afterwards.

[2022-06-03 14:30] wingyplus opened #279 "insufficient data decoding field proto_file error"
From https://github.com/wingyplus/grpc/blob/main/test/support/helloworld.proto. I got an error when I run the command below:

[code]

Expected

The `protoc` should generate successfully. And the `helloworld.pb.ex` should present.

Actual

The `protoc-gen-elixir` output decode error:

[code]

EDIT: I run it on Windows 11 with PowerShell Core.

[2022-06-03 14:35] wingyplus commented on #279
More information, I run it on Windows 11.

[2022-06-03 14:37] wingyplus opened #280 "protoc-gen-elixir will crash when indent with 4 space"
From https://github.com/wingyplus/grpc/blob/main/test/support/helloworld.proto. If I change message field by diff below:

[code]

The `protoc-gen-elixir` will crash with output:

[code]

I run it on Windows 11 with PowerShell Core.

[2022-06-03 14:58] wingyplus opened #281 "mix test doesn't work on Windows"
If I run `mix test` on Windows, the project will raise error:

[code]

After I investigate, I found that `mix escript.build` generate only unix shell script that run escript binary but not for Windows shell script. I try temporary by create `protoc-gen-elixir.bat`:

[code]

And modify `mix.exs` with:

[code]

After run `mix test` will change to:

[code]

[2022-06-06 11:34] ericmj commented on #275
I cannot reproduce the errors you are seeing and they are strange because they point to lines that doesn't exist and say that functions that definitely exist doesn't exist. I get some dialyzer errors that can probably fixed but they don't look at all like yours.

There is probably an issue with your compiled modules or PLT files. I am closing this because I cannot reproduce the issue and it's unli

[2022-06-06 11:34] #275 closed

[2022-06-07 03:50] yordis commented on #275
Leaving some notes here since @ericmj mentioning that the line doesn't even exists led me to dig around the code.

I had the following `Makefile` command with some comment:

[code]

So I had the protobuf for `"0.10.1-dev"` after installing the version from hex:

[code]

The issue went away.

My apologies for the issue, thank you so much for the help.

[2022-06-08 06:20] yingyingtang-brex opened #282 "Custom MessageOptions does not work properly"
Hey! Is it known that the `MessageOptions` does not work correctly?

I saw in the current tests, both tested related to `MessageOptions` are _**skipped**_:
- [test](https://github.com/tony612/protobuf-elixir/blob/9de6d493813aab52a194abae3c56ea9bf8068314/test/protobuf/protoc/cli_integration_test.exs#L145) "extensions defined and used in the same protoc call"
- [test](https://github.com/tony612/prot

[2022-06-08 06:52] whatyouhide commented on #282
Yes, they are skipped because custom options are not supported yet. We're tracking progress for this on https://github.com/elixir-protobuf/protobuf/issues/138. Thanks for the issue! 💟

[2022-06-08 06:52] #282 closed

[2022-06-15 10:09] wingyplus commented on #278
I hope that this PR https://github.com/elixir-protobuf/protobuf/pull/284 would fix this issue. :)

[2022-06-15 10:09] wingyplus commented on #278
I hope that this PR https://github.com/elixir-protobuf/protobuf/pull/284 would fix this issue. :)

[2022-06-16 06:30] whatyouhide commented on #278
@thbar can you give this a try in the latest `main` now that #284 has been merged? 🙃

[2022-06-16 17:06] thbar commented on #278
@whatyouhide I made a very quick try today, but I believe it has not changed the behaviour.

I used this:

[code]

I see some changes (the protoc gen version) which seems to indicate the tool version is indeed not the same, but the parenthesis are still removed:

[code]

I'll look closer when I have a bit of time, but wanted to provided some early feedback.

[2022-06-17 09:49] wingyplus commented on #278
When generating proto code, the code with format with option defined in https://github.com/elixir-protobuf/protobuf/blob/main/lib/protobuf/protoc/generator/util.ex#L6. So it'll not care `.formatter.exs` for sure.

I've been try the solution that @ericmj suggested in #284 in https://github.com/wingyplus/protobuf/commit/990ec8511ddb695b74ccd186eccf94c31ce90c3d. It's look work pretty well when the pr

[2022-06-17 14:04] ericmj commented on #278
@wingyplus I think it's because the escript protoc plugin is not running in the context of your mix project so the `mix.exs` file and project needs to be loaded for it to work. I am not sure if that's possible but worth looking into.

[2022-06-19 22:04] perezd opened #285 "Support for unknown field set?"
Proto3 for a brief period of time decided it was a good idea to drop these and this was promptly reversed to the original behavior: https://developers.google.com/protocol-buffers/docs/proto3#unknowns

I don't believe this library currently supports the expected behavior of "forwarding" unknown fields, is that correct?

Typically, unknown fields are stored in a structure like:
https://developers.go

[2022-06-20 07:49] whatyouhide commented on #285
@perezd the library has supported this since v0.10. See [the changelog for that version](https://github.com/elixir-protobuf/protobuf/blob/main/CHANGELOG.md#enhancements). 🙃 Thanks for the issue! 💟

[2022-06-20 07:49] #285 closed

[2022-06-20 08:17] #274 closed

[2022-06-20 08:24] whatyouhide commented on #279
This seems to be a Windows-specific issue. If I run this in the latest `main` of this repository with the file you provided, it seems to work just fine.

<details>
 <summary>Elixir generated code</summary>

[code]

</details>

This can be related to something wrong with the plugin on Windows, so I'll close this issue and bundle it together with https://github.com/elixir-protobuf/protobuf/issues/28

[2022-06-20 08:24] #279 closed

[2022-06-20 11:10] wingyplus commented on #279
Thanks :)

[2022-06-20 16:32] perezd commented on #285
OK I was confused by this in the readme:

[code]

Also this from the changelog made me wonder if the unknown fields are persisted when the message they are found within is serialized, that wasn't clear from what I've read so far.

[code]

I haven't had a chance to play with the library directly yet! Thanks for the response.

[2022-06-23 16:55] danmarcab opened #287 "Dialyzer does not accept structs created with `new/0`, `new/1`..."
If we have the following code:

[code]

The first one is ok according to dialyzer. The second one isn't.
It seems the type spec of the behaviour https://github.com/elixir-protobuf/protobuf/blob/main/lib/protobuf.ex#L81 is `struct()` and dialyzer doesn't accept any struct as the concrete type.

I created a repo with a minimal case:
https://github.com/danmarcab/protobuf_dialyzer_error_test_repo

[2022-06-23 20:22] danmarcab commented on #287
Sure, for the above code you get:

[code]

[2022-06-25 08:19] whatyouhide commented on #287
Closed via #288.

[2022-06-25 08:19] #287 closed

[2022-06-25 08:22] whatyouhide commented on #278
I investigated this a bit. My conclusion here is this: these files are autogenerated by the Protobuf library, so I don't think you should be formatting them with your `mix format` pass. I think you should exclude them.

To me, it's analogous to having Credo run on these autogenerated files: you wouldn't do that, because your Credo config could not align with how the maintainers of the Protobuf lib

[2022-06-25 08:22] #278 closed

[2022-06-25 08:23] whatyouhide commented on #266
@supersimple ping? 🙃

[2022-06-25 08:24] whatyouhide commented on #281
@wingyplus I don't have a chance to test this since I don't have a Windows machine. Are you willing to give figuring this out a try? 🙃

[2022-06-25 12:35] thbar commented on #278
@whatyouhide thanks for investigating! Overall I like your conclusion: it can be complicated to control the exact format etc anyway.

Thanks everyone for the discussion as well, we'll just skip the relevant files. Thanks!

[2022-06-25 17:10] supersimple commented on #266
Sorry, Andrea. My life exploded on me and I never got to this.

[2022-06-30 05:14] wingyplus commented on #281
Just a little investigation. Inspecting `rest` inside decoder.ex with this diff:

[code]

This is the result when I'm running on Windows:

[out.txt](https://github.com/elixir-protobuf/protobuf/files/9016581/out.txt)

[2022-07-16 08:31] junaid1460 commented on #104
No update yet, blocks me, should I take forward that PR #265 ?

[2022-07-16 11:46] whatyouhide commented on #104
@junaid1460 we're working on #265.

[2022-07-17 07:50] whatyouhide commented on #104
Closed via #265.

[2022-07-17 07:50] #104 closed

[2022-07-22 12:28] avillen opened #295 "Encoded data is not decodeable"
I'm facing a situation where the encoded data is not decodeable. To reproduce that I'm doing:
[code]

The last command returns this error:

[code]

Using `0.9.0` ends with the same result:

[code]
[code]

BUT, with `0.8.0` it works:

[code]
The result of the last line is `%Helloworld.HelloRequest{name: "Álvaro"}` as I was expecting.

Is this an issue? Or am I doing something wrong? Thanks in advan

[2022-07-22 16:00] avillen commented on #295
Oh, it was my fault for setting the number 0 to each field 🤦 Sorry for the noise!

[2022-07-22 16:00] #295 closed

[2022-07-27 13:57] maxmarcon opened #297 "Types have disappeared from generated protobuf file in version 0.10.0"
Using version 0.9.0 I'm seeing types being generated in my pb.ex file 👍  If I switch to version 0.10.0 the types disappear 😢

**version 0.9.0**:
[code]

**version 0.10.0**:
[code]

Elixir: 1.13.4
Erlang/OTP: 24
protoc: 3.19.3

How I'm invoking protoc:

`protoc --proto_path=bd-protobuf/identity_service/schema/protobuf --elixir_out=plugins=grpc:./  identity.proto`

[2022-07-27 13:58] maxmarcon commented on #297
happy to help with PR if somebody points me in the right direction 😸

[2022-07-28 13:41] DaveElGhoul commented on #297
I believe this was intentational, as there are mentions of it in the changelogs:
https://github.com/elixir-protobuf/protobuf/blob/main/CHANGELOG.md

But yea, came across this issue when I was looking for the reason on why structs disappeared from my pb files and my unit tests started raising unknown struct errors

[2022-07-28 13:44] maxmarcon commented on #297
The changelog mentions new warnings about types, but it doesn't say that types were removed (also because it wouldn't make any sense)

[2022-08-02 11:36] ericmj commented on #297
The types are still there and will be visible in documentation, they have just moved into the `use Protobuf` macro.

[2022-08-02 11:36] #297 closed

[2022-08-02 11:46] maxmarcon commented on #297
Thanks. Can you explain what that means? Also at the very least the readme needs to be updated cause it says types will be generated in the pb.ex file

[2022-08-02 11:52] ericmj commented on #297
All tooling and documentation can still find and display the types. We have moved their location from the generated code in pb.ex to instead be generated by a macro when the pb.ex file compiles.

A PR that updates the readme would be greatly appreciated.

[2022-08-10 15:37] maxmarcon commented on #297
Ok, thanks. I'm back at work now and I'm trying to understand this. I'll be very happy to write the PR :)

See my example at the top of this issue. How do I restore access to those types?

If I now use `Identity.ClassificationType.t()` in the `@spec` for a function, dialyzer will complain that it can't find the type.
I tried to add `use Protobuf` in my module but no luck.

What am I doing wrong? T

[2022-08-11 09:01] maxmarcon commented on #297
You sure about that?

Version 0.9.0:
[code]

Version 0.10.0:
[code]

Looks like the types are simply no longer there.

[2022-08-17 11:47] maxmarcon commented on #297
Apologies... My bad. I was using version 0.10.0 of the protoc plugin with version 0.8.0 of the library. When I use version 0.10.0 for both everything works fine 👍  Sorry for the false alarm.

PR for the docs coming soon!

[2022-08-17 18:47] yordis opened #306 "Should JSON encoding validate the Protobuf message as well?"
For context: https://github.com/elixir-protobuf/protobuf/pull/301

At the moment they are two different behaviors between `MyMessage.encode/1` and `Protobuf.JSON.encode!`.

`MyMessage.encode/1` does validate the structure of the message, while `Protobuf.JSON.encode!` does not. See https://github.com/elixir-protobuf/protobuf/pull/301 for more context and examples.

This caused some issues where we

[2022-08-17 20:08] yordis commented on #306
Yeah, I was intending to continue the work in #301 until I made it to work. I just wanted to confirm first that I wasn't crazy and was something that it should be happening

[2022-08-17 20:18] ericmj commented on #306
I reopened the PR. Thank you! 💜

[2022-08-19 06:08] whatyouhide opened #308 "Problem when using optional for enums"
### Discussed in https://github.com/elixir-protobuf/protobuf/discussions/300

<div type='discussions-op-text'>

<sup>Originally posted by **nieg675** August 16, 2022</sup>
Hello! We are running from commit 48c39d4fd5eb80fcb343d2cdf2dce6d1433e716d to get optional support. However, we experience a problem when using the optional field for enums. If we encode a message that has the optional enum fiel

[2022-08-19 06:10] #308 closed

[2022-08-21 06:21] yordis commented on #306
@ericmj should we validate when we use `Message.new!` the content? As I am fixing the issue, I thought about the fact why the factory function even allow me to create a broken message.

Maybe we should prevent issues about encoding even before getting to the Encoder. I am not sure.

[2022-08-21 06:49] whatyouhide commented on #306
@yordis validating in a pass *before* encoding turns into a significant performance hit, since we have to "walk" the struct to encode twice, once for validation and once for encoding.

What do you mean?

[2022-08-21 06:53] yordis commented on #306
When I call `new/1` from the Protobuf messages, I would expect that reject any invalid information. Like, why `new/1` factory function of the protobuf structs would not fail when given invalid information?

I get that, but one of the encodings does it, which I am guessing is because the encoding must walk the struct anyway.

[2022-08-21 06:54] whatyouhide commented on #306
@yordis yes exactly, we can do it when encoding because we are walking the struct already anyways.

`new/1` is something we want to get rid of in the future, in favor of building structs manually (like `%MyMessage{...}`).

[2022-08-21 06:58] yordis commented on #306
So what should I do?

We would like to leverage the protobuf message on some Web-gRPC API (provided to us) by encoding using protobuf struct rather than maps to avoid silly mistakes of API calls.

We already ran into some unexpected behavior that we instead pay the cost of validating such a message.

[2022-08-21 07:08] yordis commented on #306
It seems that https://github.com/elixir-protobuf/protobuf/blob/885f39e2eccd5468d885d62955fcf695ac6f1fce/lib/protobuf/json/encode.ex#L17-L22 already walk the struct thou

[2022-08-21 08:23] yordis commented on #306
I got it working for the `string` at least, so probably better to move the conversation to the PR for now

[2022-08-25 06:06] JerzyDziala opened #312 "generated typespec doesn't seem to take `proto3_optional: true` into account"

[2022-08-30 17:51] antedeguemon commented on #312
Just to add more context to the issue, here is a snippet generating typespecs for a message having both `proto3_optional?: true` and `proto3_optional?: false`:

[code]

[2022-08-30 17:59] antedeguemon commented on #312
@JerzyDziala Since we can't have a `optional(:field)` typespec for a structure, I am not sure what the typespec should be for the optional fields.

According to [Elixir docs](https://hexdocs.pm/elixir/1.13/typespecs.html#literals), having a key in a Struct type means the key is required:

[code]

A naive idea is to use multiple definitions, but it may rendered too many permutations:
[code]

[2022-08-31 16:20] ericmj commented on #312
When an optional field is not set it will be set to the value `nil`, so the field will always be present on the struct. The fix to the typespec would be to add `| nil` to the field type:

[code]

[2022-09-03 07:54] whatyouhide commented on #312
@antedeguemon any chance you want to work on a PR for this? 🙃

[2022-09-06 14:58] antedeguemon commented on #312
@whatyouhide sure thing! I will give it a try this week. Thank you for the support!

[2022-09-09 20:47] nichita-pasecinic opened #313 "Could not make proto path relative: hello.proto: No such file or directory"
inside project root (like: `/projects/elixir_project`)
running command: `protoc --elixir_out=plugins=grpc:./lib/ hello.proto`

getting following error `Could not make proto path relative: hello.proto: No such file or directory`

[2022-09-09 20:56] nichita-pasecinic commented on #313
have `PATH` env variable in windows configured right `C:\Users\mee\.mix\escripts`

[2022-09-10 08:19] #313 closed

[2022-09-10 08:31] nichita-pasecinic commented on #279
I have exactly the same issue, @wingyplus did you manager to solve it ?

[code]

[2022-09-10 08:59] wingyplus commented on #279
Nope. There’s something weird during bytes decoding in Windows. The bytes layout looking a bit different than macOS platform.

[2022-09-10 13:57] nichita-pasecinic commented on #279
@wingyplus so there is not good library that supports grpc for elixir ?

[2022-09-10 14:37] nichita-pasecinic opened #314 "Doesn't work on windows"
The library should be OS agnostic, but there are issues with decoding (when generating with `protoc -I priv/protos --elixir_out=plugins=grpc:./lib/ priv/protos/helloworld.proto`)

Even for provided helloworld example

Error trace
[code]

It relates to - https://github.com/elixir-protobuf/protobuf/issues/279, I don't know why it was closed, it is clearly a bug for Windows OS and it should work on a

[2022-09-11 01:59] wingyplus commented on #279
It’s hard to say like that. It’s just a bug but the problem is no one has a windows that help investigate and I have not much time to take a look at it.

[2022-09-11 02:02] wingyplus commented on #314
From last discussion, the library has few bug on windows like https://github.com/elixir-protobuf/protobuf/issues/280 and the maintainer conclude that we should tackle all of it.

See discussion in https://github.com/elixir-protobuf/protobuf/issues/279#issuecomment-1160130633 for more details.

[2022-09-16 09:02] juliannoble commented on #280
This occurs also in Windows 10 with standard command prompt or pwsh
For me it's not strictly based on the indenting.
e.g I get the error with 2 indent spaces below, but apparently not 3 or more
message HelloRequest {
  string name= 1;
}
however, with
message HelloReply {
  string name123456789 = 1;
}
I get the error seemingly with any number of indents including zero.
(but name1 name12 etc are all

[2022-09-16 09:44] juliannoble commented on #280
As a workaround for now I'm trying :protox  which seems able to compile proto3 files on windows - but there is less info out there on using this library.

[2022-09-30 08:14] drowzy opened #316 "[Feature request] mix protobuf.generate"
For context: https://github.com/elixir-grpc/grpc/issues/274

I'm working on http/json transcoding for [grpc](https://github.com/elixir-grpc/grpc/) and basically want to populate `MethodDescriptors` options with an extension during compilation.

The recommended approach is to install the escript globaly and use the executable from
`protoc` it's hard to see a way to provide extensions that needs to

[2022-11-13 21:32] #312 closed

[2022-11-14 08:54] asciibeats opened #321 "How do I compile map fields to "map: true" instead of "repeated: true"?"
Right now i edit the generated code by hand. Thank you!

[2022-11-14 13:06] whatyouhide commented on #321
Hey @asciibeats, we'll need more information on this. Can you please share

1. The `.proto` schema you're trying to compile (not all of it, just relevant field definition)
2. What's the current generated code
3. What you're expecting the generated code to look like

Thanks!

[2022-11-14 13:08] whatyouhide commented on #314
Closing this in favor of #279 and #280.

[2022-11-14 13:08] #314 closed

[2022-11-14 13:38] asciibeats commented on #321
Thanks for your quick reply and of course your work!

What i have is:
[code]
I do compile without anything fancy:
[code]
What i get is:
[code]

Which is not unexpected but what i would like to get is:
[code]

My goal is to be able to use elixir maps to create my messages. Changing "repeated: true" to "map: true" by hand works perfectly fine, but of course i have to do it after each compilation. I

[2022-11-14 21:47] whatyouhide commented on #321
Ah, okay I see what you mean.

`map: true` is used for each map key-value pair. As you see in

[code]

there's no `StuffEntry` message. That's generated by Protobuf itself by the name of the field (`stuff`) plus the `Entry` suffix, to represent a single key-value entry in the map.

Are you having any issues or unexpected behavior in the Elixir code? 🤔

[2022-11-15 07:51] asciibeats commented on #321
You mean using:
[code]
No.

Just to clarify a bit more for everybody, my change enables me to do:
[code]
Instead of:
[code]
Side question: Is there a simpler "normal" way?

[2022-11-15 14:19] whatyouhide commented on #321
No, the former should be supported! And it was, I’m pretty sure. So this might be a bug/regression after all, thanks for helping us triage 🐛

Wanna take a shot at fixing this? I won't be able to for a bit 🙏

[2022-11-19 09:58] asciibeats commented on #321
If i find the time, i will give it a shot.

What should a fix look like for you?

The easiest would probably be to just output "map: true" instead of "repeated: true" but obviously that would break current behaviour. Maybe the best is to add a compiler option to output "map: true" and in a second step remove/abstract away the "StuffEntry" message?

[2022-11-22 14:50] whatyouhide commented on #321
I think a while ago this library used to still output the `StuffEntry` with `map: true`, but then it would be smart enough to figure out that `Stuff` is the map itself.

I think you'd need to figure out what `protoc` is passing down to us as the schema. I think it might be `protoc` itself creating `StuffEntry`, but I’m not sure.

As it stands right now, I won't have time to look at this for the ne

[2022-11-26 10:29] whatyouhide opened #322 "Problem when using optional for enums"
### Discussed in https://github.com/elixir-protobuf/protobuf/discussions/300

<div type='discussions-op-text'>

<sup>Originally posted by **nieg675** August 16, 2022</sup>
Hello! We are running from commit 48c39d4fd5eb80fcb343d2cdf2dce6d1433e716d to get optional support. However, we experience a problem when using the optional field for enums. If we encode a message that has the optional enum fiel

[2022-11-26 10:31] whatyouhide opened #323 "How to use type specs?"
### Discussed in https://github.com/elixir-protobuf/protobuf/discussions/294

<div type='discussions-op-text'>

<sup>Originally posted by **akasprzok** July 16, 2022</sup>
Seems that typespecs are created via a before_compile callback [here](https://github.com/elixir-protobuf/protobuf/blob/4814ec035ea828d3f0932cc978bf05f54e85d0e1/lib/protobuf/dsl.ex#L140)

I've got a handful of compiled Protobufs

[2022-11-28 12:06] sindrip commented on #322
I fixed this in #302 and it's already merged

[2022-11-30 07:23] whatyouhide commented on #322
Oh, fantastic 😄 Will go update the discussion. Sorry about that and thanks again @sindrip 💟

[2022-11-30 07:23] #322 closed